/* CSS Document */
.clear{
	clear: both;
	height: 0;
	line-height: 0;
}
body{
	background: #fff;
	border: 0;
	padding: 0;
	margin: 0;
}
img{
	border: none;
	outline: none;
}
.center_align{
	text-align: center;
}
.top_align{
	vertical-align: top;
}
.right_align{
	text-align: left;
}
.bottom_align{
	vertical-align: bottom;
}
.left_align{
	text-align: left;
}
.vertical_align{
	vertical-align:middle;
}
td{
	font: normal 12px Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: left;
	vertical-align: top;
}
a{
	font: normal 12px/17px Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}
a:hover{
	font: normal 12px/17px Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: underline;
}
/*
.review_box{
	width: 450px;
	height: auto;
	padding: 2px 0;
	background: #fff;
	behavior:url(js/PIE.htc);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
 	-o-border-radius: 5px;
	box-shadow: 2px 2px 2px #e0e0e0;
	border: 1px solid #e7e7e7;
}
--------------------------------------------------------------------------------------------------------
}*/
/* ------------------maincontainer CSS--------------------- */
div#maindiv{
	width: 540px;
	height: auto;
	background: none;
	border: 0;
	padding: 0;
	margin: 0 auto;
	clear: both;
	float: none;
}
/* ------------------header CSS--------------------- */
div#offerid_top_box{
	width: 540px;
	height: auto;
	background: #fff;
	border: 0;
	margin: 0;
	float: left;
}
.offerid_top{
	width: 540px;
	height: 65px;
	background: none;
	border: 0;
	padding: 0;
	margin: 6px auto 8px auto;
	float: left;
}
.offerid_top a{
	font: normal 12px/16px Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: middle;
	text-decoration: underline;
	color: #264687;
}
.back_to{
	width: auto;
	height: 16px;
	background: url(../images/back_to_img.png) left top no-repeat #588fc8;
	border: 0;
	padding: 0;
	margin: 0 15px 0 0;
	font: normal 12px/16px Arial, Helvetica, sans-serif;
	vertical-align: middle;
	text-decoration: none;
	color: #fff;
	float: left;
	cursor: pointer;
}
.back_to a{
	font: normal 12px/16px Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 0 8px;
	margin: 0;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
}
.offerid_top_heading{
	width: 100%;
	height: 35px;
	background: #4573b8;
	border: 0;
	padding: 0;
	margin: 8px 0;
	text-align: center;
	vertical-align: middle;
	font: bold 20px/35px Arial, Helvetica, sans-serif;
	color: #fff;
}
.offerid_left{
	width: 150px;
	height: auto;
	margin: 0 10px 0 0;
	float: left;
}
.offerid_right{
	width: 380px;
	height: auto;
	margin: 0;
	float: right;
}
.your_order{
	width: 380px;
	height: auto;
	font: normal 18px Arial, Helvetica, sans-serif;
	color: #6487B4;
	line-height: 1.4em;
	margin: 0 0 10px 0;
}
.code_box{
	width: 380px;
	height: auto;
	padding: 10px 0;
	margin: 0;
}
.code{
	width: 136px;
	height: auto;
	margin: 10px 15px 10px 0;
}
.code_top{
	font: bold 11px Arial, Helvetica, sans-serif;
	color: #999999;
	text-align: left;
	vertical-align: middle;
	padding: 0 0 2px 0;
	margin: 0;
	text-transform: uppercase;
}
.code_top span img{
	padding: 0;
	margin: 0;
	border: 0;
	vertical-align: top;
	float: right;
}
.code p{
	line-height: 1.4em;
    margin-bottom: 0.9em;
}
.main_code{
	border: 4px dashed #999999;
    color: #69B31A;
    font-size: 22px;
    font-weight: bold;
    margin-top: 3px;
    padding: 10px;
}
.offerid_actions{
	width: 380px;
	height: auto;
	margin: 0;
	float: left;
	color: #777777;
    font-size: 0.8em;
    line-height: 20px;
    padding-top: 5px;
}
.offerid_actions ul{
	padding: 0;
	margin: 0;
}
.offerid_actions ul li{
	padding: 0;
	margin: 0 20px 0 0;
	list-style-type: none;
	float: left;
	font: normal 11px/20px Arial, Helvetica, sans-serif;
	color: #777777;
	text-align: left;
	vertical-align: middle;
}
.offerid_actions ul li a{
	padding: 0;
	margin: 0;
	font: normal 11px/20px Arial, Helvetica, sans-serif;
	color: #777777;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
}
.offerid_actions ul li span img{
	padding: 0;
	margin: 0 5px 0 0;
	float: left;
}
.how_to{
 	width: 100%;
	height: auto;
	padding: 0 0 10px 0;
	margin: 10px 0 5px 0;
	border-bottom: 1px solid #c3c3c3;
}
.how_to h4{
	font: bold 12px/20px Arial, Helvetica, sans-serif;
	color: #4573b8;
	text-align: left;
	vertical-align: middle;
	padding: 0 0 5px 0;
	margin: 0;
}
.how_to ul{
	padding: 0;
	margin: 0;
}
.how_to ul li{
	padding: 0;
	margin: 0 0 0 18px;
	list-style-type:decimal;
	font: normal 12px/20px Arial, Helvetica, sans-serif;
	color: #515151;
	text-align: left;
	vertical-align: middle;
}
.inner_box{
	width: 520px;
	height: 100px;
	background: url(../images/airmail.png) left top repeat-x #e6f5f6;
	padding: 15px 10px 10px 10px;
	margin: 0 auto 20px auto;
}
.inner_box h4{
	font: bold 14px/20px Arial, Helvetica, sans-serif;
	color: #264687;
	text-align: left;
	vertical-align: middle;
	margin: 0;
}
.inner_box p{
	font: normal 12px/20px Arial, Helvetica, sans-serif;
	color: #515151;
	text-align: left;
	vertical-align: middle;
	padding: 0;
	margin: 0;
}
.textfield{
	width: 296px;
	height: 20px;
	background: #fff;
	border: 1px solid #cccccc;
	behavior:url(js/PIE.htc);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
 	-o-border-radius: 4px;
	float: left;
	padding: 0 5px;
	margin: 10px 10px 5px 0;
	font: bold 14px/ Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #c3c3c3;
	font-style: italic;
}
.sign_up_btn{
	width: 92px;
	height: 28px;
	background: url(../images/sign_up_btn.png) center center no-repeat;
	border: 0;
	font: bold 14px/28px Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 0 11px 0 0;
	margin: 10px 0 5px 0;
	float: left;
	text-align: right;
	vertical-align: middle;
}
.email_on{
	width: 306px;
	height: auto;
	margin: 0 10px 0 0;
	float: left;
	font: normal 12px/17px Arial, Helvetica, sans-serif;
	color: #777777;
}
.email_on span{
	font: normal 12px/17px Arial, Helvetica, sans-serif;
	color: #777777;
	text-align: left;
	vertical-align: middle;
	padding: 0;
	margin: 0 10px 0 0;
	float: left;
}
.sample{
	width: 204px;
	height:auto;
	margin: 0;
	float: right;
}
.sample ul{
	padding: 0;
	margin: 0;
}
.sample ul li{
	padding: 0;
	margin: 0 4px;
	list-style-type: none;
	float: left;
	font: normal 11px/16px Arial, Helvetica, sans-serif;
	color: #CCCCCC;
}
.sample ul li a{
	font: normal 10px/16px Arial, Helvetica, sans-serif;
	color: #264687;
	padding: 0;
	margin: 0;
	text-decoration: underline;
}
.sample ul li a:hover{
	font: normal 10px/16px Arial, Helvetica, sans-serif;
	color: #264687;
	padding: 0;
	margin: 0;
	text-decoration: underline;
}
























