@import url(http://fonts.googleapis.com/css?family=Open+Sans:700italic,300,700,400);
body{
    margin: 0px;
    font-family: 'Open Sans', sans-serif !important;
}
a{
    text-decoration: none;
}
.topHeader .centerScreen{
    margin-top: 15px;
}
.centerScreen{
    width: 940px;
    margin: auto;
    
}
.topHeader{
    height: 90px;
    background-color: #fff;
    width:100%;    
    margin-bottom: -20px;
}
.topHeader .logo{
    float:left;
    cursor:pointer;
}

.topHeader .search{
    float:right;
    background: url(../images/new/searchBox.png) left top no-repeat;
    width: 345px;
    margin-top: 5px;
}
.topHeader .search .search_bg{
    margin-top:0px;
    margin-left:-15px;
}
.topHeader ul li input[type="text"]{
    background:none;
    border:none;
    width:270px;
    color:#858585;
    font-weight: bold;
    font-style: italic;
    font-size: 10pt;
}
.topHeader ul li input[type="submit"]{
    background: none;
    background: url(../images/new/searchIco.png) left top no-repeat;
    width: 38px;
    height: 33px;
    border:none;
    margin-top: -5px;

}
.topHeader ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
}
.clear{
    clear:both;
}
.headerMenu{
    background-color: #2a2929;
    width: 100%;
    height: 50px;
    margin-bottom: 0px;
}
ul li{
     list-style-type: none;
    margin: 0;
    padding: 0;
}
.headerMenu ul li{
     list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 35px;
}
.headerMenu ul li.login{
    float:right;
    margin-right: 0px;
}
.headerMenu ul{
    padding-top: 15px;
    margin-left: -35px;
}
.headerMenu a{
    text-decoration: none;
    color:#cacaca;
}
.orange{
    color:#f28e02;
}
.body{
    background-color: #e6e6e6;
    margin-top: 0px;
}
.mainTitle{
    margin-bottom: 30px;
    min-height: 10px;
}
.mainTitle h1{
    color: #4d4c4c;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 26pt;
    margin-left: 20px;
    margin-bottom: 15px;
}
.mainTitle p{
    color: #9a9a9a;
    text-align: center;
    margin-top: -15px;
    width: 840px;
    margin: auto;
}
.carousel-inner .item{
    background: url(../images/new/banner.png) left top no-repeat;
    width: 702px;
    height: 261px;
}
.carousel-indicators{
    margin-top: 235px;
    margin-left: 551px !important;
    width: 10% !important;
    text-align: right !important;
    left: auto !important;
    bottom: auto !important;
}
.newsletterBox{
    background: url(../images/new/newsletterBox.png) left top no-repeat;
    width: 222px;
    height: 261px;
}
.homeTop{
    float:left;
}
.carousel1{
    margin-right: 15px;
}
.newsletterBox input[type="text"]{
    margin-top: 95px;
    margin-left: -20px;
    width: 185px;
    border: 0px;
}
.newsletterBox input[type="submit"]{
    background-color: #f49200;
    border: 0px;
    margin-top: 30px;
    margin-left: -25px;
    width: 195px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 0px;
    color:#fff;
}
.plusLessButton{
    float: right;
    width: 30px;
    height: 30px;
    cursor: pointer;
    padding-bottom: 40px;
    margin-top: -26px;
}
.plusLessButton.plus{
    background: url(../images/new/plusIco.png) no-repeat;
}
.plusLessButton.less{
    background: url(../images/new/lessIco.png) no-repeat;
}
.categoryIcon{
    background: url(../images/new/categIcons.png) no-repeat;
    float: left;
    cursor:pointer;
}
.categoryIcon:hover{
    background: url(../images/new/categIcons_over.png) no-repeat;
}
.categoryIcon.categ_1{
    background-position: 0px 0px;
    width: 149px;
    height: 127px;
}
.categoryIcon.categ_2{
    background-position: -149px 0px;
    width: 161px;
    height: 127px;
}
.categoryIcon.categ_3{
    background-position: -310px 0px;
    width: 160px;
    height: 127px;
}
.categoryIcon.categ_4{
    background-position: -470px 0px;
    width: 159px;
    height: 127px;
}
.categoryIcon.categ_5{
    background-position: -629px 0px;
    width: 161px;
    height: 127px;
}
.categoryIcon.categ_6{
    background-position: -790px 0px;
    width: 149px;
    height: 127px;
}
.categoryIcon.categ_7{
    background-position: 0px -127px;
    width: 149px;
    height: 127px;
}
.categoryIcon.categ_8{
    background-position: -149px -127px;
    width: 161px;
    height: 127px;
}
.categoryIcon.categ_9{
    background-position: -310px -127px;
    width: 160px;
    height: 127px;
}
.categoryIcon.categ_10{
    background-position: -470px -127px;
    width: 159px;
    height: 127px;
}
.categoryIcon.categ_11{
    background-position: -629px -127px;
    width: 161px;
    height: 127px;
}
.categoryIcon.categ_12{
    background-position: -790px -127px;
    width: 149px;
    height: 127px;
}
.categoryIcon.categ_13{
    background-position: 0px -254px;
    width: 149px;
    height: 127px;
}
.categoryIcon.categ_14{
    background-position: -149px -254px;
    width: 161px;
    height: 127px;
}
.categoryIcon.categ_15{
    background-position: -310px -254px;
    width: 160px;
    height: 127px;
}
.categoryIcon.categ_16{
    background-position: -470px -254px;
    width: 159px;
    height: 127px;
}
.categoryIcon.categ_17{
    background-position: -629px -254px;
    width: 161px;
    height: 127px;
}
.categoryIcon.categ_18{
    background-position: -790px -254px;
    width: 149px;
    height: 127px;
}
.categoryIcon.categ_19{
    background-position: 0px -382px;
    width: 151px;
    height: 127px;
}
.categoryIcon.categ_20{
    background-position: -151px -382px;
    width: 159px;
    height: 127px;
}
.categoryIcon.categ_21{
    background-position: -310px -382px;
    width: 161px;
    height: 127px;
}
.categoryIcon.placeHolder{
    background-position: -470px -382px;
    width: 467px;
    height: 127px;
    float: left;
}
.categories .list{
    margin-left: -40px;
}
.storeIcon{
    float:left;
    cursor:pointer;
    width:117px;
    height: 75px;
    display: table;
}
.storeIcon{
    padding: 0px;
}
.hiddenCat{
    display:none;
}
.storeIcon img{
    max-width:113px;
    max-height: 75px;
}
.stores .list{
    background-color: #fff;
}
.stores ul{
    padding:0px;
}
.dealIcon{
    float:left;
    background:url(../images/new/dealBox.png) no-repeat;
    width:222px;
    height: 421px;
    margin-right: 17px;
    margin-bottom: 17px;
}
.dealIcon.lastInRow{
    margin-right: 0px;
}
.dealImage img{
    max-width: 190px;
max-height: 150px;
margin-top: 16px;
}
.dealImage{
    text-align:center;
    height: 165px;
}
.dealContent{
    width: 195px;
    height: 170px;
    margin: auto;
    overflow: hidden;
}
.dealCategoryData{
    color:#8e8071;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
}
.redtext{
    color:#e37656;
}
.dealTitle a{
    color:#5c5146;
    font-size:16px;
    width: 200px;
    overflow-wrap: break-word;
    
}
.dealProvider{
    color:#8e8071;
    font-size:9px;
    margin-top: 10px;
}
.bold{
    font-weight: bold;
}
.dealPriceList{
    color:#8e8071;
    font-size:12px;
}
.dealPriceList .bold{
    font-size: 18px;
}
.lastestDeals ul,.topDeals ul,.listDeals ul{
    padding:0px;
}
.dealBtn div{
    background-color: #f49200;
    border: 0px;
    width: 195px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 40px;
    color: #fff;
    margin-left: 13px;
    margin-top: 0px;
}
.contactForm{
    background-color: #f49200;
    border: 0px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 0px;
    color: #fff;
    width: 100%;
    text-align: center;
    cursor:pointer;
}
.btnCommentSubmit{
    background-color: #f49200;
    border: 0px;
    width: 100px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 24px;
    color: #fff;
    float:right;
    margin-right: 7px;
    margin-left: 0px;
    margin-top: 10px;
}
.thumbs{
    background: url(../images/new/likeIconGrey.png) no-repeat;
    width: 58px;
    height: 27px;
    float: left;
    cursor:pointer;
}
.thumbActive{
    background: url(../images/new/likeSelectedIcon.png) no-repeat;
     width: 58px;
    height: 27px;
    float: left;
    cursor:pointer;
}
.thumbsValue{
    margin-left: 25px;
    margin-top: 7px;
    color:#a89b90;
}
.thumbActive .thumbsValue{
    color:#df613c;
}
.comment{
    background: url(../images/new/commentIconGrey.png) no-repeat;
    width: 53px;
    height: 18px;
    float: left;
    margin-left: 20px;
    margin-top: 7px;
    cursor:pointer;
}
.commentQty{
    margin-left: 28px;
    margin-top: -3px;
    color:#a89b90;
}
.share{
    background: url(../images/new/shareIconGrey.png) no-repeat;
    width: 51px;
    height: 28px;
    float: left;
    margin-left: 10px;
    cursor:pointer;
}
.dealActions{
    margin-top: 20px;
    margin-left: 15px;
}
.shareBox{
    z-index: 999999;
position: absolute;
background: #fff;
border: 1px solid #c3c3c3;
border-radius: 5px;
padding: 10px;
margin-top: -40px;
margin-left: 13px;
display: none;
}
.couponItem{
    float:left;
    background:url(../images/new/couponBox.png) no-repeat;
    width: 470px;
    height: 231px;
    margin-bottom: 17px;
}
.topCoupons ul, .lastestCoupons ul{
    padding:0px;
}

.couponImage img{
    max-width: 190px;
max-height: 150px;
margin-top: 34px;
}
.couponImage{
    text-align:center;
    width: 195px;
    margin-left: 15px;
    height: 183px;
}
.couponContent{
    width: 195px;
    height: 128px;
    margin: auto;
    overflow: hidden;
    float: right;
    position: absolute;
    margin-top: -174px;
    margin-left: 221px;
}
.couponProvider{
    color: #8e8071;
    font-size: 12px;
    bottom: 0px;
    position: absolute;
}
.couponBtn div{
    background-color: #f49200;
    border: 0px;
    width: 195px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 0px;
    color: #fff;
    margin-left: 243px;
    margin-top: -5px;
    text-align: center;
}
.couponActions{
    margin-top: -70px;
    margin-left: 245px;
}
.couponActions .share{
    margin-left: 30px;
}
.dealBtn div{
    cursor:pointer;
}
.couponItem .shareBox{
    margin-left: 243px;
}
.footer{
    background-color: #2a2929;
    height: 145px;
}
.sector{
    float: left;
    margin-top: 25px;
    margin-right: 50px;
}
.sector .title{
    color:#f2f2f2;
    margin-bottom:15px;
    font-size: 12px;
}
.sector .list a{
    color:#797979;
    font-size: 12px;
}
.newsletterFooter{
    float:left;
    width: 220px;
    margin-top: 25px;
}
.newsletterFooter .title{
    font-size: 12px;
    color:#ff9300;
}
.newsletterFooter input[type="text"]{
    border:0px;
    width:220px;
    border-radius:5px;
    margin-top:10px;
    margin-bottom: 10px;
    padding:5px;
}
.newsletterFooter input[type="submit"]{
    border: 0px;
    background: url(../images/new/submitNewsletter.png) no-repeat;
    width: 42px;
    height: 34px;
    float: right;
}
.bottomFooter{
    background-color:#000;
    color:#7e7e7e;
    text-align: center;
    font-size: 12px;
    padding: 5px;
}
.bottomFooter a{
    color:#7e7e7e;
}
.carousel1 .item .dealImage{
    width: 257px;
    margin-left: 13px;
    padding-top: 15px;
    height: 248px;
}
.carousel1 .item .dealImage img{
    max-width: 260px;
    max-height: 210px;
}
.carousel1 .item .dealContent{
    width: 395px;
    height: 160px;
    margin: auto;
    overflow: hidden;
    margin-top: -230px;
    margin-left: 290px;
    position: relative;

}
.carousel1 .item .dealContent .dealTitle a{
    width: auto;
    color: #fff;
    font-size: 23px;
    overflow-wrap: break-word;
    font-weight: bold;
}
.carousel1 .item .dealContent .dealProvider{
    color:#000;
}
.carousel1 .item .dealContent .dealPriceList{
    color: #000;
    font-size: 12px;
    bottom: 0px;
    position: absolute;
}
.carousel1 .item .dealContent .dealPriceList .bold{
    color:#000;
    text-decoration: none;
}
.carousel1 .item .dealBtn div{
    background-color: #dadada;
    border: 1px solid #c97a18;
    color:#000;
    margin-left: 455px;
    margin-top: -30px;
    text-decoration: none;
}
.oldPrice{
    text-decoration: line-through;
}
.dealPriceList .bold{
    text-decoration: none;
}
.carousel1 .dealActions{
    margin-top: 13px;
    margin-left: 295px;
    color:#fff;
    font-size:11px;
}
.carousel1 .dealActions .thumbs{
    background:url(../images/new/likeIco.png) no-repeat;
    width: 158px;
}
.carousel1 .dealActions .thumbActive{
    background:url(../images/new/likeIcoActive.png) no-repeat;
    width: 158px;
}
.carousel1 .dealActions .thumbsValue, .carousel1 .dealActions .shareValue, .carousel1 .dealActions .commentQty
{
    color:#fff;
}
.carousel1 .dealActions .share{
    background:url(../images/new/shareIco.png) no-repeat;
    width:133px;
    margin-top: 6px;

}
.carousel1 .shareBox{
    margin-top:-50px;
    margin-left:423px;
}
.carousel1 .dealActions .commentQty{
    margin-top: 0px;

}
.carousel1 .dealActions .comment{
    background:url(../images/new/commentIco.png) no-repeat;
    width:110px;
    margin-left: -10px;
}
.carousel1 .dealActions .shareValue{
    padding-left: 20px;
}
.carousel-indicators li{
    background: url(../images/new/bannerButt.png) no-repeat;
    width: 10px !important;
    height: 10px !important;
    background-position: -17px 0px;
    border:0px !important;
}
.carousel-indicators .active{
    background-position: 0px 0px;
}
.catTitle{
    color: #9a9a9a;
    font-weight: bold;
    margin-top: 20px;
    font-size: 17px;
}
.newsletterBox form{
    padding-top: 60px;
}
a:hover{
    text-decoration:none !important;
    color: #f28e02 !important;
}
.carousel1 .item .dealContent .dealTitle a:hover{
    color:#000 !important;
}
.headerMenu .active{
    color: #f28e02 !important;
}
.downArrow{
    background: url(../images/new/downArrow.png) no-repeat;
    width: 19px;
    height: 17px;
    margin-top: -20px;
    margin-left: 150px;
}
.categoryMenuList{
    background-color: #383838;
    border-top: 5px solid #ff9400;
    width: 345px;
    padding: 15px;
    position: absolute;
    z-index: 9999;
    margin: auto;
    font-size: 12px;
    margin-top: 15px;
    display:none;
}
.storeMenuList{
    background-color: #383838;
    border-top: 5px solid #ff9400;
    width: 531px;
    padding: 15px;
    position: absolute;
    z-index: 9999;
    margin: auto;
    font-size: 12px;
    margin-top: 15px;
    display: none;
    margin-left: -70px;
}
.categoryMenuList a{
    float:left;
    width: 148px;
    height: 26px;

}
.storeMenuList a{
    float: left;
    width: 167px;
    height: 26px;
}
.allCateg a{
    color:#fff !important;
    
}
.newsletterAdded{
    background: url(../images/new/newsletterBoxSent.png) no-repeat;
    width: 218px;
    height: 200px;
    margin-left: 1px;
    margin-top: -50px;
}
.loginDiv{
    border-top: 5px solid #ff9400;
    background-color: #fff;
    width: 531px;
    padding: 0px 15px;
    position: fixed;
    z-index: 9999;
    margin: auto;
    width: 825px;
    height: 380px;
    top: 70px;
    left: 20%;
}
.registerAccount,.loginAccount{
    float:left;
}
.loginAccount{
    border-left:1px solid #e6e6e6;
    padding-left: 35px;
    
}
.registerAccount{
    margin-right: 35px;
}
.loginDiv  input{
    padding:5px;
    width:335px;
    border-radius:5px;
}
.loginDiv  input[type="submit"]{
    color:#fff;
    background-color:#ff9500;
    margin-top:25px;
    border: 0px;
    padding: 7px;
}
.fbloginButton{
    color:#fff;
    background-color:#385498;
    margin-top:25px;
    border: 0px;
    padding: 7px;
    text-align: center;
    border-radius:5px;
    cursor:pointer;
}
.twloginButton{
    color:#fff;
    background-color:#24c4dc;
    margin-top:5px;
    border: 0px;
    padding: 7px;
    text-align: center;
    border-radius:5px;
    cursor:pointer;
}
.twloginButton a{
    color:#fff;
}
.center{
    text-align: center;
}
.loginDiv .title{
    color: #ff9400;
    margin-bottom: 15px;
    font-size: 21px;
    margin-top: 10px;   
}
.overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.unchecked{
    background: url(../images/new/check.png) no-repeat;
    width:19px;
    height: 19px;
    cursor:pointer;
    float:left;
    margin-right:10px;
}
.checked{
    float:left;
    background: url(../images/new/checked.png) no-repeat;
    width:19px;
    height:19px;
    cursor:pointer;
    margin-right:10px;
}
.policyAgreement{
    width: 350px;
    margin: auto;
    margin-top: 20px;
}
.loginDiv,.overlay{
    display:none;
}
.closeLogin{
    float: right;
font-size: 8px;
cursor: pointer;
}
.socialNetworks div{
    background: url(../images/new/rightBarSocial.png) no-repeat;
    width:37px;
    height: 37px;
    cursor:pointer;
}
.socialNetworks{
    position: fixed;
    right: 0px;
    top: 135px;
}
.socialNetworks .blog{
    background-position: 0px 0px;
}
.socialNetworks .facebook{
    background-position: 0px -37px;
}
.socialNetworks .twitter{
    background-position: 0px -74px;
}
.socialNetworks .googleplus{
    background-position: 0px -112px;
}
.goUpArrow{
    background:url(../images/new/goUpBtn.png) no-repeat;
    width: 34px;
    height: 28px;
    right: 0px;
    margin-top: -10px;
    position: absolute;
    cursor:pointer;
}
.filters{
    float: left;
    margin-right: 30px;
    width: 210px;
    margin-bottom: 20px;
}
.listDeals{
    float:left;
    width: 700px;
}
.listDeals.special{
    width:940px;
}
.topBarDeals{
    margin-bottom: 20px;
}
.topBarDeals .countDeals{
    float:left;
    color:#a5a5a5;
    margin-top: 5px;
}
.topBarDeals .orderByDeals .text{
    margin-right: 170px;
}
.topBarDeals .orderByDeals{
    float:right;
    color:#a5a5a5;
}
.selectedFilters{
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 10px 40px 2px #c0c0c0;
    padding:5px;
}
.selectedFilters .title{
    border-bottom:1px solid #fafafa;
    color:#999;
    font-weight: bold;
    padding-left: 10px;
}
.filtersToSelect{
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 10px 40px 2px #c0c0c0;
    padding:5px;
    margin-top: 20px;
}
.filtersToSelect .title{
    border-bottom:1px solid #fafafa;
    color:#999;
    font-weight: bold;
    padding-left: 10px;
}
.paginator{
    background-color:#fff;
    box-shadow: 0px 10px 40px 2px #c0c0c0;
    padding:5px;
    margin-bottom: 30px;
    border-radius: 10px;
    text-align: center;
}
.paginData a{
    color:#999;    
    width:200px;
    margin:auto;
}
.paginData strong{
    color: #f49200;
}
.paginator .nextPage,.paginator .lastPage{
    float:right;
}
.paginator .prevPage,.paginator .firstPage{
    float:left;
}
.paginator .firstPage{
    width: 20px;
}
.paginator .prevPage{
    width: 30px;
}
.paginator .lastPage{
    width: 20px;
}
.paginator .nextPage{
    width: 30px;
}
.filterList .title{
    font-weight: bold;
}
.hidden{
    display:none;
    visibility: visible !important;
}
.filterList{
    font-size:10px;
}
.subTitle{
    font-weight: bold;
    cursor:pointer;
    font-size: 12px;
    margin-top: 10px;
}
.arrowFilter{
      background:url(../images/new/filterArrow.png) no-repeat;
      width: 19px;
        height: 21px;
        float: left;
        margin-top: -2px;
        margin-left: -30px;
}
pre{
    background-color:#ccc;
    clear:both;
}
.deleteFilter{
    background: url(../images/new/deleteFilter.png) no-repeat;
    width: 25px;
    height: 25px;
    float: left;
    margin-left: -10px;
    margin-top: 6px;
    margin-right: 5px;
    cursor:pointer;
}
.selectedFiltersLi{
    background-color:#fff;
    border-radius:10px;
    font-weight: normal;
    font-size:12px;
    color:#555;
}
.selectedFiltersLi .Type{
    font-size:15px;
    color:#000;
}
.selectedFilters ul{
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
}
.selectedFilters ul li{
    margin-bottom: 10px;
}
#deleteAllFilters{
   text-align:right;
}
.overlayLoading{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:9998;
    background-color: #000;
    opacity:0.5;
}
.overOver{
    z-index: 9999;
    position: fixed;
    left: 20%;
    top: 0%;
    width: 930px;
}
.elemToFilter{
    cursor:pointer;
}
.priceFilter input{
    width: 30px;
    border-radius: 5px;
}
.goArrow{
    float:right;
    margin-right: 20px;
    cursor:pointer;
}
.orderHidden{
    display:none;
}
.elemOrder{
    cursor:pointer;
    background-color:#fff;
    padding:5px;
}
.elemOrder:hover{
    background-color:#385498;
}
.orderList{
    border-radius:10px;
    width:150px;
    position: absolute;
    height: 30px;
    margin-top: -25px;
    margin-left: 70px;
}
.orderList ul{
    border:1px solid;
    border-radius:10px;
    overflow:hidden;
}
.displayable{
    background: url(../images/new/dropdownArrow.png) no-repeat;
    background-color:#fff;
    background-position: 130px;
}
.coupons .displayable{
    background-position:170px;
}
.listDeals.coupons{
    width: 940px;
}
.coupons .orderList{
    width:190px;
    z-index: 9997;
}
.coupons .topBarDeals .orderByDeals .text{
    margin-right:200px;
}
.storeFinderBar ul{
    background-color: #fff;
    border-radius: 5px;
    padding:5px;
    box-shadow: 0px 10px 40px 2px #c0c0c0;
    margin-bottom: 20px;

}
.storeFinderBar a{
    color: #555;
}
.store_box{
    width:940px;
}
.storeFinderBar ul li a{
    margin-right: 5px;
    color:#a99b90;
}
.store_box .store .text a{
    color:#333;
    padding: 10px;
}
.store_box .store{
    width:220px;
    height: 130px;
    float:left;
    margin-right:20px;
    margin-bottom: 15px;
    background-color:#fff;
    border-radius:5px;
    box-shadow: 0px 10px 40px 2px #c0c0c0;
}
.store_box .store.lastInRow{
    margin-right:0px;
}
.floatRight{
    float:right;
}
.store_box .store .image img{
    max-width: 200px;
    max-height: 70px;
 
}
.store_box .store .image{
    border:1px solid #ccc;
    width: 200px;
    margin: 10px;
    height: 70px;
    text-align: center;
}

.store_box{
    padding:0px;
}
.reviewBox,.staticPageBox,.contactBox,.sitemapBox{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 10px 40px 2px #c0c0c0;
    margin-bottom:20px;
    min-height: 300px;
}

.topReview .img{
    max-width: 280px;
    max-height: 270px;
}
.topReview .image{
    float: left;
    width: 280px;
    height: 270px;
    border: 1px solid #ccc;
    margin-right: 15px;
    text-align: center;
}
.topReview .description{
    float:left;
    width: 620px;
}
.topReview .description .title{
    margin-bottom: 10px;
}
.topReview .description .title a{
    font-size: 22px;
    color: #000;
    font-weight: bold;
}
.topReview .description .storeDesc{
    color: #9d9184;
    font-size:12px;
    margin-bottom: 10px;
}
.topReview .description .btnGetDeal{
    width: 195px;
    margin-left: -15px;
    margin-bottom: 20px;
}
.topReview .description .textred{
    font-size: 21px;
    color: #df613c;
    font-weight: bold;
}
.topReview .description .messageSaved{
    margin-top: 10px;
}
.topReview .description .priceDesc{
    margin-bottom: 10px;
}
.TabbedPanels{
    width: 920px !important;
    margin:0px !important;
}
.TabbedPanelsContent{
    width:auto !important;
}
.TabbedPanelsContentGroup {
    padding-top:10px;
    width: auto !important;
    border: 0px !important;
}
.TabbedPanelsTab{
    border: 0px !important;
    background: none !important;
    color: #aca297 !important;
}
.TabbedPanelsTabSelected{
    border-bottom:2px solid #f49200 !important;
    color: #f49200 !important;
}
.TabbedPanelsTabGroup{
    border-bottom: 2px solid #cfcfcf;
    height: 36px;
}
.average img{
    margin-top: -5px;
}
.reviews_base{
    margin-top: 20px;
}
strong{
    font-weight: bold !important;
}
.contactBox input,.contactBox textarea{
    width: 100%;
    margin-bottom: 10px;
    margin-top: -5px;
}
.contactBox textarea{
    height: 200px;
}
.sitemapBox .categories{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 12px;
    border-bottom: 1px dashed #c1bfbf;
}
.sitemapBox .categories h1 {
    padding: 6px 0 0 0;
    margin: 0px;
    color: #0A3F8B;
    font-size: 14px;
    font-weight: bold;
}
.sitemapBox .categories ul li {
    width: 33%;
    float: left;
}
.path{
    padding-top:10px;
    margin-bottom: 10px;
}
.activePath{
    color:#434242;
}
.prevPath{
    color:#9f9f9f;
}
iframe{
    width: 920px;
    min-height: 1190px;
    border: 0px;
    overflow-y: hidden;
    margin-bottom: 20px;
}
.left{
    float:left;
}
.formRight{
    margin-left: 30px;
    float: left;
    width: 720px;
}
.formRight textarea{
    width: 710px;
}