/* CSS Document */
body{
	margin:0;
	background: url(../images/bg_back.gif) left top repeat-x #ffffff;
}
a{
	color: #ccc;
	text-decoration: none;
	outline: none;
}
a:hover{
	color: #ccc;
	text-decoration: underline;
	outline: none;
}
img{
	border: 0;
	outline: none;
	padding: 0;
}
p{
	padding: 0;
	margin: 0;
}   
h1{
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #fe2a00;
	padding: 0;
	margin: 0;
	text-align: left;
}
h2{
	font: bold 14px/28px Arial, Helvetica, sans-serif;
	color: #3c3c3c;
	padding: 0 0 0 14px;
	margin: 0;
	text-align: left;
}
h3{
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #00bcfa;
	padding: 0;
	margin: 0;
	text-align: left;
}
h4{
	font: bold 11px/18px  Tahoma, Arial, Helvetica, sans-serif;
	color: #757575;
	padding: 0 0 10px 0;
	margin:0;
	text-transform: uppercase;
}
.rightalign{
	text-align: right ! important;
}
.centeralign{
	text-align: center;
}
.clear{
	clear: both;
}
.dot_line{
	background: url(../images/dot_line.gif) left bottom  repeat-x;
}
img.border{
	margin: 0;
	padding: 4px;	
	border: 1px solid #dcdcdc;
	background: #FFFFFF;
}
img.border1{
	margin: 0;
	padding: 4px;	
	border: 1px solid #e4e4e4;
	background: #f9f9f9;
}
img.wrap{
	margin: 10px;
	padding: 2px;
	float: left;
	border: 1px solid #d4d4d4;
	background: #FFFFFF;
}
#maindiv{
	width: 1104px;
	height: auto;
	background: none;
	border: 0;
	float: none;
	clear: both;	
	margin: 0 auto;
}
div#header{
	float: none;
	height: 147px;
	margin: 0 auto;
	width: 1104px;
	background: none;
	border: 0;
}
div#header ul{
	margin: 0;
	padding: 0;
}
div#header ul li{
	margin: 0;
	padding: 0;
	float: left;	
	list-style-type: none;
}
div#header ul li.redtext{
	font: bold 13px/18px Arial, Helvetica, sans-serif;	
	color: #fa0200;
	padding: 6px 0 0 21px;
}	
.header_left{
	float: left;
	height: auto;
	margin: 25px auto;
	width: 336px;
}
.header_right{
	width: 474px;
	height: auto;
	background: none;
	float: right;
	border: 0;
	margin: 0 auto;
}
.header_right ul{
	margin: 0;
	padding: 0;
}
.header_right ul li{
	margin: 0;
	padding: 0;
	float: left;
	font: bold 13px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	list-style-type: none;
	color: #FFFFFF;
}
.header_right ul li.text{
	margin: 0;
	padding: 0;
	font: normal 12px/22px Arial, Helvetica, sans-serif;
	color: #fff;
} 
.header_right ul li.text span{
	margin: 0;
	padding: 0;
	font: normal 12px/22px Arial, Helvetica, sans-serif;	
	color: #fca501;
}

.search_box{
	background: url(../images/search_bg.png) left top no-repeat;
	width: 474px;
	height: 53px;
	border:0;
	margin: 25px auto;
	float: left;
}
.search_bg{
	font: normal 12px/20px  Arial, Helvetica, sans-serif;
	color: #9b9b9b;
	background: url(../images/textfield_bg.png) left top no-repeat;
	width: 402px;
	height: 36px;	
	border: 0;
	float: left;
	margin: 0 auto;
}
input.search_field{
	font: normal 16px/26px Georgia, "Times New Roman", Times, serif;
	color: #777474;
	background: none;
	width: 360px;
	height: 30px;
	border: 0;
	float: left;
	font-style: italic;
	padding: 3px 0 0 36px;
	margin: 0;
}
input.search_btn{
	background: url(../images/go_btn.png) left top no-repeat;
	width: 46px;
	height: 36px;
	border: 0;
	float: right;
	margin: 0 auto;
	font: bold 18px/17px Arial, Helvetica, sans-serif;
	color: #fff;
	cursor: pointer;
}
input.search_bg1{
	font: normal 11px/17px Arial, Helvetica, sans-serif;
	color: #717171;
	background: #ffffff;
	width: 240px;
	height: 32px;
	border: 1px solid #eadad0;
	padding: 0 0 0 5px;
	border-radius: 2px;
	margin: 10px 0;
}
input.search_btn1{
	background: url(../images/sub_btn.gif) left top no-repeat;
	width: 94px;
	height: 33px;
	border: 0;
	cursor: pointer;
}
#navigation_bg{
	background: url(../images/nav_bg.png) left top no-repeat;
	width: 1104px;
	height: 44px;	
	border: 0;
	float: none;
	margin: 0 auto;
}

#nav{	
	width: 710px;
	height: auto;
	float: left;
	margin: 0 auto;		
}
#nav ul{
	padding: 0;
	margin: 0;
}
#nav ul li{
	padding: 0;
	margin: 0;
	text-align: left;
	float: left;
	background: url(../images/menu_bar.gif) right top no-repeat;	
	list-style-type: none;
	display: block;	
	text-decoration: none;
	font-style: italic;	
}
#nav ul li a{	
	text-decoration: none;
	padding: 0 20px;
	display: block;	
	font: normal 16px/44px  Arial, Helvetica, sans-serif;	
	color: #fff;	
}
#nav ul li a:hover, #nav ul li a.here, #nav ul li a.here:hover{
	color: #dbd7d5;
	font: normal 16px/44px  Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 0 20px;
	display: block;
	text-decoration: none;			
}
.sighin_box{	
	width: auto;
	height: auto;
	float: right;
	margin: 0 auto;		
}
.sighin_box ul{
	padding: 0;
	margin: 0;
}
.sighin_box ul li{
	padding: 0;
	margin: 0;
	text-align: left;
	float: left;
	background: url(../images/menu_bar.gif) right top no-repeat;	
	list-style-type: none;
	line-height: 44px;	
}
.sighin_box ul li a{	
	text-decoration: none;
	padding: 0 20px;
	display: block;	
	font: normal 12px/44px  Arial, Helvetica, sans-serif;	
	color: #fff;	
}
.sighin_box ul li a:hover, .sighin_box ul li a.here, .sighin_box ul li a.here:hover{
	color: #dbd7d5;
	font: normal 12px/44px  Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 0 20px;
	display: block;
	text-decoration: none;			
}
div#maincontent{
	width: 1104px;
	height: auto;
	float: none;
	margin: 4px auto;	
	background: none;
	border: 0;	
}
div#content{
	width: 1104px;
	height: auto;
	float: none;
	margin: 4px auto;	
	background: none;
	border: 0;	
}
.topbox{
	width: 1104px;
	height: 77px;
	float: none;
	margin: 4px auto;	
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;	
}
.topbox_1{
	width: 900px;
	height: 72px;
	float: left;
	margin: 4px auto;	
	background: none;
	border: 0;	
}
.topbox_1 h1{
	font: normal 24px/26px Arial, Helvetica, sans-serif;
	color: #bc2426;
	margin: 0;
	text-align: left;
	text-transform: none;
	vertical-align: top;	
	padding: 8px 0 0 15px;
}
.topbox_1 p{
	font: normal 14px/16px Arial, Helvetica, sans-serif;
	color: #0a3f8b;
	margin: 0;
	text-align: left;
	text-transform: none;
	vertical-align: top;	
	padding: 0 0 0 15px;
}
.topbox_r{
	width: 174px;
	height: 72px;
	float: right;
	margin: 20px auto;	
	background: none;
	border: 0;	
}
.leftcol{
	width: 810px;
	height: auto;
	background: none;
	float: left;
	margin: 5px auto;
}
.latest_deal{
	width: 810px;
	height: auto;
	background: none;
	float: none;
	margin: 0 auto 8px auto;
}
.left_top{
	width: 807px;
	height: 50px;
	background: url(../images/top_heading.gif) left bottom no-repeat;
}
.left_top h1{
    margin: 0;
	padding: 0 14px;
	font: bold 18px/40px Arial, Helvetica, sans-serif;
	color: #ff6600;
	text-transform: uppercase;	
}
.left_mid{
	width: 807px;
	height: auto;
	background: url(../images/mid_heading.gif) left top repeat-y;
	overflow: hidden;
}
.pro_box{
	width: 249px;
	height: auto;
	background: none;
	float: left;
	margin: 10px 9px;
}
.pro_top{
	width: 249px;
	height: 5px;
	background: url(../images/probg_top.gif) left top no-repeat;
}
.pro_mid{
	width: 249px;
	height: auto;
	background: url(../images/probg_mid.gif) left top repeat-y;
	overflow: hidden;
}
.pro_mid h1{
    margin: 0;
	padding: 0 19px;
	font: bold 16px/20px Arial, Helvetica, sans-serif;
	color: #2b2b2b;
	text-transform: none;	
}

.pro_mid ul{
	margin: 0;
	padding: 0;
}
.pro_mid ul li{
	margin: 0;
	padding: 8px 0 0 18px;	
	list-style-type: none;
	float: left;
	width: 210px;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #222222;	
}
.pro_mid ul li span{
	font: normal 12px/20px Arial, Helvetica, sans-serif;
	color: #fe6700;
	padding: 0;
	margin: 0;	
}
.pro_mid ul li a{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;
	text-decoration: none;
}
.pro_mid ul li a:hover{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;
	text-decoration: underline;
}

.pro_mid ul li .redtext{
	font: normal 18px/20px Arial, Helvetica, sans-serif;
	color: #bc2426;
	padding: 0;
	margin: 0;	
}
.pro_mid ul li .redtext1{
	font: bold 13px/20px Arial, Helvetica, sans-serif;
	color: #bc2426;
	padding: 0;
	margin: 0;	
}
.pro_bot{
	width: 249px;
	height: 23px;
	background: url(../images/probg_bot.png) left top no-repeat;
}

.left_bot{
	width: 807px;
	height: 9px;
	background: url(../images/bot_heading.gif) left top no-repeat;
}
.rightcol{
	width: 278px;
	height: auto;
	background: none;
	float: right;
	margin: 0 auto;
}
.right_box{
	width: 278px;
	height: auto;
	background: none;
	float: none;
	margin: 6px auto;
}
.right_top{
	width: 278px;
	height: 49px;
	background: url(../images/right_top.gif) left bottom no-repeat;
}
.right_top h1{
    margin: 0;
	padding: 0 14px;
	font: bold 14px/40px Arial, Helvetica, sans-serif;
	color: #ff6600;
	text-transform: uppercase;	
}
.right_mid{
	width: 278px;
	height: auto;
	background: url(../images/right_mid.gif) left top repeat-y;
	overflow: hidden;
}
.right_mid h1{
    margin: 0;
	padding: 0 14px;
	font: bold 14px/40px Arial, Helvetica, sans-serif;
	color: #3c3c3c;
	text-transform: none;	
}

.right_mid ul{
	margin: 0;
	padding: 0;
}
.right_mid ul li{
	margin: 0;
	padding: 0 14px;	
	list-style-type: none;
	float: left;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #67605c;	
}
.right_mid ul li span{
	font: normal 11px/30px Arial, Helvetica, sans-serif;
	color: #c2b5ad;
	padding: 0;
	margin: 0;	
}
.right_mid ul li a{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;	
	text-decoration: none;
}
.right_mid ul li a:hover{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;	
	text-decoration: underline;
}
.right_mid ul li span a{
	font: normal 14px/18px Arial, Helvetica, sans-serif;
	color: #ff7200;	
	text-decoration: none;
}
.right_mid ul li span a:hover{
	font: normal 14px/18px Arial, Helvetica, sans-serif;
	color: #ff7200;
	text-decoration: underline;
}
.right_bot{
	width: 278px;
	height: 13px;
	background: url(../images/right_bot.gif) left top no-repeat;
}
.pic_box{
	width: 80px;
	height: auto;
	background: none;
	float: left;
	margin: 4px 0 4px 10px;
}
.detail_box{
	width: 609px;
	height: auto;
	background: #FFFFFF;
	overflow: hidden;
	float: none;
	margin: 0 auto 20px auto;
}
.detail_left{
	width: 275px;
	height: auto;
	background: none;
	float: left;
	margin: 0 auto;
}
.detail_right{
	width: 320px;
	height: auto;
	background: none;
	float: right;
	margin: 0 auto;
}
.detail_right ul{
	margin: 0;
	padding: 0;
}
.detail_right ul li{
	margin: 0;
	padding: 0;
	width: 320px;
	list-style-type: none;
	float: left;
	font: bold 16px/18px Arial, Helvetica, sans-serif;
	color: #fca501;	
}
.detail_right ul li span{
	font: bold 16px/18px Arial, Helvetica, sans-serif;
	color: #399fbf;
	padding: 0;
	margin: 0;	
}
.detail_right ul li p{
	font: bold 19px/28px Arial, Helvetica, sans-serif;
	color: #c0c0c0;
	padding: 20px 0 0 0;
	margin: 0;	
}
.detail_right ul li a{
	margin: 0;
	padding: 0;
	font: normal 20px/20px Arial, Helvetica, sans-serif;
	color: #399fbf;
	text-transform: none;
	text-decoration: none
}
.detail_right ul li a:hover{
	margin: 0;
	padding: 0;
	font: normal 20px/20px Arial, Helvetica, sans-serif;
	color: #399fbf;
	text-transform: none;
	text-decoration: underline;
}
.detail_right ul li h1{
	margin: 0 15px 0 0;
	padding: 8px 0 10px 20px;
	font: bold 20px/20px Arial, Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
	font-style: italic;	
}

.content_left{
	width: 500px;
	height: auto;
	float: left;
	margin: 20px auto;	
	background: none;
	border-right: 1px solid #e98280;	
}
.content_left td{
	font: normal 13px/28px Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: left;
	vertical-align: middle;	
}
.content_left a{
	margin: 0;
	padding: 10px 0 10px 30px;
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
	text-decoration: underline;
}
.content_left a:hover{
	margin: 0;
	padding: 10px 0 10px 30px;
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
	text-decoration: none;
}
.content_left h1{
	margin: 0 15px 0 0;
	padding: 18px 0 10px 0;
	font: bold 24px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
}
.content_left span{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #ccc;
	padding:0;
	margin: 0;
}
.content_right{
	width: 440px;
	height: auto;
	float: right;
	margin: 20px auto 0 auto;	
	background: none;
	border: 0;	
}
.content_right td{
	font: normal 13px/28px Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: left;
	vertical-align: middle;	
}
.content_right a{
	margin: 0;
	padding: 10px 0 10px 30px;
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
	text-decoration: underline;
}
.content_right a:hover{
	margin: 0;
	padding: 10px 0 10px 30px;
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
	text-decoration: none;
}
.content_right h1{
	margin: 0 15px 0 0;
	padding: 18px 0 10px 0;
	font: bold 24px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
}
.content_right span{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #ccc;
	padding:0;
	margin: 0;
}
.hot_deal{
	width: 94px;
	height: 96px;
	background: url(../images/hot_deal.png) left top no-repeat;
	position: absolute;
	z-index: 1000;
	float: left;
	margin: 46px 0 0 140px;
}

.hot_dealbtn{
	width: 160px;
	height: 38px;
	background: url(../images/btn_orange.png) left top no-repeat;
	position: absolute;
	z-index: 1000;
	float: left;
	margin: -27px 0 0 50px;
}
.hot_dealbtn a{
	font: bold 14px/38px Arial, Helvetica, sans-serif;
	color: #fff;
	padding:0 0 0 14px;
	text-decoration: none;
}
.hot_dealbtn a:hover{
	font: bold 14px/38px Arial, Helvetica, sans-serif;
	color: #000;
	padding:0 0 0 14px;
	text-decoration: none;
}
.hot_dealbtn1{
	width: 160px;
	height: 38px;
	background: url(../images/btn_orange.png) left top no-repeat;
	position: absolute;
	z-index: 1000;
	float: left;
	margin: 66px 0 0 19px;
}

.hot_dealbtn1 a{
	font: bold 14px/38px Arial, Helvetica, sans-serif;
	color: #fff;
	padding:0 0 0 14px;
	text-decoration: none;
}
.hot_dealbtn1 a:hover{
	font: bold 14px/38px Arial, Helvetica, sans-serif;
	color: #000;
	padding:0 0 0 14px;
	text-decoration: none;
}
.border_bg{
	 float: left;
	 margin: 12px 22px;
	 width: 180px;	 
	 padding: 10px;	
	 border: 1px solid #dcdcdc;
	 background: #FFFFFF;
	 overflow: hidden;
}
.coupon_box{
	width: 788px;
	height: auto;
	background: #FFFFFF;
	float: none;
	overflow: hidden;
	border: 1px solid #e6e6e6;
	margin: 8px auto;
}

.coupon{
	width: 170px;
	height: 88px;
	background: none;
	float: left;
	border-right: 1px solid #d0d0d0;
	margin: 10px auto;
}
.coupon h1{
    margin: 0;
	padding: 0;
	font: bold 18px/20px Arial, Helvetica, sans-serif;
	color: #2b2b2b;
	text-transform: none;	
}

.coupon ul{
	margin: 0;
	padding: 0;
}
.coupon ul li{
	margin: 0;
	padding: 8px 0 0 18px;	
	list-style-type: none;
	float: left;
	width: 210px;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #212121;	
}
.coupon ul li span{
	font: normal 12px/20px Arial, Helvetica, sans-serif;
	color: #fe6700;
	padding: 0;
	margin: 0;	
}
.coupon ul li a{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;
	text-decoration: none;
}
.coupon ul li a:hover{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;
	text-decoration: underline;
}

.coupon ul li .redtext{
	font: normal 18px/20px Arial, Helvetica, sans-serif;
	color: #bc2426;
	padding: 0;
	margin: 0;	
}
.coupon ul li .redtext1{
	font: bold 13px/20px Arial, Helvetica, sans-serif;
	color: #bc2426;
	padding: 0;
	margin: 0;	
}

#footer_bg{
	width: 100%;
	height: 623px;
	background: url(../images/footerbg.gif) left top repeat-x;
	float: none;
	margin: 14px auto 0 auto;
}
.footer{
	width: 1104px;
	height: auto;
	background: none;
	float: none;
	margin: 0 auto;
}
.footer_left{
	width: 700px;
	height: auto;
	background: none;
	float: left;
	margin: 40px auto;
	color: #3b3b3b;
	font: normal 13px/19px Arial, Helvetica, sans-serif;
}
.footer_left a{
	color: #3b3b3b;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 4px;
}
.footer_left a:hover{
	color: #399fbf;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 4px;	
}
.footer_left span a{
	color: #1d519c;		
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 4px;
}
.footer_left span a:hover{
	color: #399fbf;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 4px;	
}

.footer_right{
	width: 200px;
	height: auto;
	background: none;
	float: right;
	margin: 25px auto;
	color: #2d2d2d;
	font: normal 14px/39px Arial, Helvetica, sans-serif;
}

.footer_link{
	width: auto;
	height: auto;
	float: left;
	text-align: left;
	margin: 40px auto;
	background: url(../images/line_r.gif) right top repeat-y;
	overflow: hidden;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #757575;
}
.footer_link h1{
	font: bold 14px/20px Arial, Helvetica, sans-serif;
	color: #ff6600;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;	
	padding: 0 0 0 15px;
}
.footer_link ul{
	padding: 0;
	margin: 0;
}
.footer_link ul li{
	padding: 4px 0 0 15px;
	margin: 0;
	list-style-type: none;
	float: left;
	width: 140px;
	font: normal 14px/17px Arial, Helvetica, sans-serif;
	color: #fff;		
}
.footer_link ul li a{
	color: #3d3d3d;
	background: url(../images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;
}
.footer_link ul li a:hover{
	color: #399fbf;	
	background: url(../images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;	
}
footer_link span{
	padding: 0;
	margin: 0;	
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #bcbcbc;
	font-style: italic;		
}
.footer_link span a{
	color: #757575;
	background: url(../images/bullets.gif) left center no-repeat;	
	text-decoration: none;	
	padding: 0 14px;
}
.footer_link span a:hover{
	color: #757575;	
	text-decoration: underline;	
	padding: 0 14px;
	background: url(../images/bullets.gif) left center no-repeat;	
}
.footer_link1{
	width: 300px;
	height: auto;
	float: left;
	text-align: left;
	margin: 40px auto;
	background: none;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #757575;
}
.footer_link1 h1{
	font: bold 14px/20px Arial, Helvetica, sans-serif;
	color: #ff6600;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;	
	padding: 0 0 0 15px;
}
.footer_link1 ul{
	padding: 0;
	margin: 0;
}
.footer_link1 ul li{
	padding: 4px 0 0 15px;
	margin: 0;
	list-style-type: none;
	float: left;	
	font: normal 14px/17px Arial, Helvetica, sans-serif;
	color: #fff;		
}
.footer_link1 ul li a{
	color: #3d3d3d;
	background: url(../images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;
}
.footer_link1 ul li a:hover{
	color: #399fbf;	
	background: url(../images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;	
}

.footer_link2{
	width: 140px;
	height: auto;
	float: right;
	text-align: left;
	margin: 40px auto;
	background: none;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #757575;
}
.footer_link2 h1{
	font: bold 14px/20px Arial, Helvetica, sans-serif;
	color: #ff6600;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;	
	padding: 0 0 0 15px;
}
.footer_link2 ul{
	padding: 0;
	margin: 0;
}
.footer_link2 ul li{
	padding: 4px 0 0 15px;
	margin: 0;
	list-style-type: none;
	float: left;
	width: 140px;
	font: normal 14px/17px Arial, Helvetica, sans-serif;
	color: #fff;		
}
.footer_link2 ul li a{
	color: #3d3d3d;
	background: url(../images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;
}
.footer_link2 ul li a:hover{
	color: #399fbf;	
	background: url(../images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;	
}

.footer_brands{
	width: 1104px;
	height: auto;
	background: url(../images/greybg.gif) left top repeat-x;
	float: left;
	margin: 14px auto;
}

.footer_brands ul{
	padding: 0;
	margin: 10px 0 0 0;
}
.footer_brands ul li{
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: left;
	width: 166px;
	display: block;
	font: normal 14px/17px Arial, Helvetica, sans-serif;
	color: #fff;		
}
.footer_brands ul li a{
	color: #3d3d3d;
	background: url(../images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;
}
.footer_brands ul li a:hover{
	color: #399fbf;	
	background: url(../images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;	
}

.footer_brands h1{
	font: bold 14px/26px Arial, Helvetica, sans-serif;
	color: #ff6600;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;	
	padding: 30px 0 0 15px;
}


/*=================================Goutam10-09-2012=============================================*/

table.details{
	width: 780px;
	height: auto;
	float: none;
	margin: 9px auto; 
	background: none;
}

table.details td{
	color: #7f7f7f;
	font: bold 11px/16px Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
}
table.details a{
	color: #7f7f7f;
	font: bold 11px/16px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
table.details a:hover{
	color: #7f7f7f;
	font: bold 11px/16px Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
table.details_right{
	width: 395px;
	height: auto;
	float: left;
	margin: 0 auto; 
	background: none;
}
table.details_right td{
	color: #212121;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	font: normal 14px/22px Arial, Helvetica, sans-serif;

}
table.details_right td span{
	color: #212121;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	text-decoration: line-through;
	font: bold 14px/22px Arial, Helvetica, sans-serif;

}
table.details_right .textred{
	color: #bc2426;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	text-decoration: none;	
	font: normal 18px/22px Arial, Helvetica, sans-serif;
}
table.details_right .textred1{
	color: #bc2426;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	text-decoration: none;	
	font: bold 13px/22px Arial, Helvetica, sans-serif;
}
table.details_right .textblack{
	color: #222222;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	text-decoration: none;	
	font: bold 14px/22px Arial, Helvetica, sans-serif;
}
table.details_right .textgrey{
	color: #a8a8a8;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	text-decoration: none;	
	font: normal 12px/22px Arial, Helvetica, sans-serif;
}
table.details_right a{
	color: #2b2b2b;
	font: normal 22px/28px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
table.details_right a:hover{
	color: #2b2b2b;
	font: normal 22px/28px Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

table.details_right th{
	color: #212121;
	text-align: left;
	vertical-align: top;
	padding: 0;
	font: normal 14px/17px Arial, Helvetica, sans-serif;
}
table.details_right th a{
	color: #767676;
	font: bold 13px/17px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
table.details_right th a:hover{
	color: #767676;
	font: bold 13px/17px Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

table.details_right th span a{
	color: #ff6600;
	font: bold 13px/17px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding:0;
	margin: 0;
}
table.details_right th span a:hover{
	color: #ff6600;
	font: bold 13px/17px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	padding:0;
	margin: 0;
}

img.border2{
	margin: 10px 0;
	padding: 0;	
	border: 1px solid #a2a2a4;
	background: #f9f9f9;
}


.text_box{
	width: 166px;
	height: auto;
	background: none;
	float: right;
	margin: 4px 0 4px 10px;
}


.text_box ul{
	padding: 0;
	margin: 10px 0 0 0;
}
.text_box ul li{
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: left;	
	font: normal 12px/15px Arial, Helvetica, sans-serif;
	color: #585858;		
}
.text_box ul li a{
	color: #eb8100;
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 0;
}
.text_box ul li a:hover{
	color: #399fbf;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 0;	
}

.category_box{
	width: 189px;
	height: auto;
	background: none;
	float: left;
	margin: 10px 4px 10px 8px;
}
.category_top{
	width: 189px;
	height: 37px;
	background: url(../images/cat_topbg.gif) left bottom no-repeat;
}
.category_top h1{
    margin: 0;
	padding: 0 14px;
	font: bold 14px/34px Arial, Helvetica, sans-serif;
	color: #fff;	
}
.category_mid{
	width: 189px;
	height: auto;
	background: url(../images/catbg_mid.gif) left top repeat-y;
	overflow: hidden;
}
.category_mid h1{
    margin: 0;
	padding: 0 14px;
	font: bold 14px/40px Arial, Helvetica, sans-serif;
	color: #3c3c3c;
	text-transform: none;	
}

.category_mid ul{
	margin: 0;
	padding: 0;
}
.category_mid ul li{
	margin: 0;
	padding: 0 14px;	
	list-style-type: none;
	float: left;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #67605c;	
}
.category_mid ul li span{
	font: normal 11px/30px Arial, Helvetica, sans-serif;
	color: #c2b5ad;
	padding: 0;
	margin: 0;	
}
.category_mid ul li a{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;	
	text-decoration: none;
}
.category_mid ul li a:hover{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;	
	text-decoration: underline;
}
.category_mid ul li span a{
	font: normal 14px/18px Arial, Helvetica, sans-serif;
	color: #ff7200;	
	text-decoration: none;
}
.category_mid ul li span a:hover{
	font: normal 14px/18px Arial, Helvetica, sans-serif;
	color: #ff7200;
	text-decoration: underline;
}
.category_bot{
	width: 189px;
	height: 25px;
	background: url(../images/catbg_bot.png) left top no-repeat;
}

.category_bg{
	width: 252px;
	height: auto;
	min-height: 680px;
	background: url(../images/catbg.gif) left top repeat-y;
	overflow: hidden;
	float: left;
	color: #646464;
	font: normal 12px/26px Arial, Helvetica, sans-serif;
	margin: 10px 14px 10px 0;
}

.category_bg h1{
    margin: 20px 0 0 0;
	padding: 0;
	font: normal 22px/34px Arial, Helvetica, sans-serif;
	color: #ff6600;	
}

.category_bg a{
	color: #646464;
	font: normal 12px/26px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 0;
	text-align: left;
}

.category_bg a:hover{
	color: #646464;
	font: normal 12px/26px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	padding: 0;		
}
.category_bg span a{
	color: #ff6600;
	font: bold 15px/36px Arial, Helvetica, sans-serif;
	text-decoration: none;	
	font-style: italic;
	padding: 0;
	border-bottom: 1px solid #e0e0e0;		
}

.category_bg span a:hover{
	color: #000;
	padding: 0;
	font: bold 15px/36px Arial, Helvetica, sans-serif;
	text-decoration: none;	
	font-style: italic;	
			
}