@charset "utf-8";
/* CSS Document */


.TabbedPanels{
	margin: 0 auto;
	padding: 0;
	float: none;
	background: #FFFFFF;
	width: 807px;
	height: auto;	 
}
.TabbedPanelsTabGroup{
	margin: 0;
	padding: 0px;	
}
.TabbedPanelsTab{
	float: left;
	background:url(../images/tab_bg.gif) left top repeat-x;
	width:auto;
	height: 32px;
	font: bold 12px/32px  Arial, Helvetica, sans-serif; 
	color: #fff;
	list-style: none;
	border: 1px solid #d4d4d4;
    border-radius: 6px 6px 0 0;		
	-moz-border-radius: 0;
	-webkit-border-radius: 0;	
	text-align:center;
	vertical-align: middle;
	cursor: pointer;
	padding: 0 18px;
	margin: 4px 0 0 4px;		
}
.TabbedPanelsTabHover{
	float: left;
	background:url(../images/tab_bg.gif) left top repeat-x;
	width:auto;
	height: 32px;
	font: bold 12px/32px  Arial, Helvetica, sans-serif; 
	color: #fff;
	list-style: none;
	border: 1px solid #d4d4d4;
    border-radius: 6px 6px 0 0;		
	-moz-border-radius: 0;
	-webkit-border-radius: 0;	
	text-align:center;
	vertical-align: middle;
	cursor: pointer;
	padding: 0 18px;
	margin: 4px 0 0 4px;		
}
.TabbedPanelsTabSelected{
	background: #FFFFFF;
	width:auto;
	font: bold 12px/32px  Arial, Helvetica, sans-serif; 
	color: #ff6600;
	text-align:center;	
	vertical-align: middle;	
	height: 32px;
    border: 1px solid #d4d4d4;
    border-radius: 6px 6px 0 0;	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0 18px;
	margin: 4px 0 0 4px;			
}
.TabbedPanelsTab a {
	background:url(../images/tab_bg.gif) left top repeat-x;
	width: auto;
	font: bold 12px/32px  Arial, Helvetica, sans-serif; 
	color: #101010;
	text-align:center;	
	vertical-align: middle;	
	height: 32px;
    border: 0;
    border-radius: 6px 6px 0 0;	
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 0 18px;
	margin: 4px 0 0 4px;			
}
.TabbedPanelsContentGroup{
	clear: both;
	color: #636363;	
	height: auto;
	width: 804px;
	border: 1px solid #d4d4d4;			
}
.TabbedPanelsContent{
	width: 780px;
	border: 0;	
	color: #67605C;
	height: auto;
	font: normal 13px/17px  Arial, Helvetica, sans-serif;
	padding: 0;
	float: none;
	margin: 10px auto;	
}
.TabbedPanelsContent strong{
	font: normal 12px/17px  Arial, Helvetica, sans-serif;
}
.TabbedPanelsContent h1{		
	color: #67605C;	
	font: normal 18px/24px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 10px 0;
}
.TabbedPanelsContent p{		
	color: #434343;	
	font: normal 14px/17px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 10px 0;	
}
.TabbedPanelsContent .text14{		
	color: #434343;	
	font: bold 14px/37px Arial, Helvetica, sans-serif;
	padding: 20px 0;
}
.TabbedPanelsContent span{		
	color: #f15d00;	
	font: bold 14px/17px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 10px 0;	
}
.TabbedPanelsContent ul{
	padding: 0;
	margin: 0;	
}
.TabbedPanelsContent ul li{		
	color: #434343;	
	font: normal 14px/16px Arial, Helvetica, sans-serif;
	padding: 7px 18px;
	background: url(../images/bullet.gif) left center no-repeat;
	margin: 0;
	list-style-type: none;
}
.TabbedPanelsContent ul li span{		
	color: #ff0000;	
	font: bold 14px/14px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
.TabbedPanelsContent ul li .textred{		
	color: #434343;	
	font: bold 18px/14px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
.TabbedPanelsContent2{   
}
.TabbedPanelsContentVisible{
}
.VTabbedPanels .TabbedPanelsTabGroup{
	float: left;		
}
.VTabbedPanels .TabbedPanelsTab{
	float: none;
	margin: 0px;
}
.VTabbedPanels .TabbedPanelsTabSelected{		
	
}
.VTabbedPanels .TabbedPanelsContentGroup{
	clear: none;
	float: left;
	padding: 0px;
	color: #636363;
	width:auto;
	height: auto;	
		
}