/**********************/
/* CSS Document */

.ui-slider{
    font-size:65%;
}
.ui-slider-handle{
    outline: none;
}
#elements_preview > li{
    padding-left:5px;
    padding-right:5px;
    margin:2px;
    cursor:move;
    border-radius:5px;
    cursor:move;
    /*width:700px;*/
    border:2px dashed;
    border-color: transparent;
    position: relative;
}
.form-horizontal > #elements_preview > li{
    padding-top: 5px;
}

.form-horizontal > #elements_preview > li > .control-group{
    margin-bottom: 15px;
}
#navbar.affix {
    top: 56px;
}
#navbar{
    width:258px;
}
#fields > ul >li{
    position: relative;
}
#fields > ul > li > a{
    cursor: pointer;
}
#fields > ul > li > a > i{
    position: absolute; 
    right:10px; 
    top:10px; 
    cursor: pointer;
}
#fields > ul > li.disabled > a > i{
    display:none;
}
#fields > ul > li.disabled > a{
    cursor: default;
}

#elements_preview > li > a#btn_close{
    position: absolute; 
    display:none;
    right:10px; 
    top:5px; 
    cursor: pointer;
}

#elements_preview > li > a#btn_edit{
    position: absolute; 
    display:none;
    right:60px; 
    top:5px; 
    cursor: pointer;
}

#elements_preview .control-label{
    cursor:move;
}
.icon-edit{
    right:35px !important;
}
#elements_preview > li.selected{
    background:#f4f4f4;
    /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);*/
    border:2px dashed #DDDDDD;
}

#elements_preview > li:HOVER{
    border:2px dashed #DDDDDD;
}
.nav-tabs > li > a ,
.nav-tabs > .active > a,
.nav-tabs > .active > a:ACTIVE,
.nav-tabs.nav-stacked > li > a,
.nav-tabs.nav-stacked > li > a:ACTIVE{
    outline: none;
}
.ui-state-highlight{
    background:#f7f7f7;
}

.dropdown-menu > .active > a{
	background-color: none;
	background-image: none;
}

.breadcrumb{
    margin-bottom:3px;
}
thead>tr>th {
	padding: 5px;
	margin: 2px;
	cursor: move;
	white-space: nowrap;
	text-align: center !important;
	color: #333333;
	text-shadow: 0 1px 0 #FFFFFF;
	background-color: #e6e6e6;
}
#filter_elements > li{
    cursor: move;
}

#column_elements > li > a, #filter_elements > li > a{
	/*padding-top:6px;
	padding-bottom:6px;
	color:#333333;*/
	cursor: move;
}
#column_elements > li > a > label, #filter_elements > li > a > label{
	margin-bottom:0;
	display:inline-block;
	cursor: move;
}

#dataListConfigCommon{
	margin-bottom:20px;	
}

#dataListConfigCommon > .control-group{
	margin-bottom:6px;
}

.form-horizontal .control-label{
    text-align: left !important;
}
body{
	margin:0;
	background: url(http://www.pccounter.net/media/images/bg_back.gif) left top repeat-x #ffffff;
}
a{
	color: #ccc;
	text-decoration: none;
	outline: none;
}
a:hover{
	color: #ccc;
	text-decoration: underline;
	outline: none;
}
img{
	border: 0;
	outline: none;
	padding: 0;
}
p{
	padding: 0;
	margin: 0;
}   
h1{
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #fe2a00;
	padding: 0;
	margin: 0;
	text-align: left;
}
h2{
	font: bold 14px/28px Arial, Helvetica, sans-serif;
	color: #3c3c3c;
	padding: 0 0 0 14px;
	margin: 0;
	text-align: left;
}
h3{
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #00bcfa;
	padding: 0;
	margin: 0;
	text-align: left;
}
h4{
	font: bold 11px/18px  Tahoma, Arial, Helvetica, sans-serif;
	color: #757575;
	padding: 0 0 10px 0;
	margin:0;
	text-transform: uppercase;
}
iframe{
		width: 100px !important;
		height: auto;
	}	
.rightalign{
	text-align: right ! important;
}
.centeralign{
	text-align: center;
}
.clear{
	clear: both;
}
#mask {
	  position:absolute;
	  left:0;
	  top:0;
	  z-index:9000;
	  background-color:#fff;
	  display:none;
	}
	  
	#boxes .window {
	  position:absolute;
	  left:0;
	  top:0;
	  width:440px;
	  height:200px;
	  display:none;
	  z-index:9999;
	  }
	
	#boxes #dialog {
	  width:400px; 
	  height:400px;
	  margin-top:255px;
	  padding:10px;
	  border-radius: 14px;
	  -moz-box-shadow:  1px 1px 6px 6px #c5c5c5;
	  -webkit-box-shadow: 1px 1px 6px 6px #c5c5c5;
	  box-shadow: 1px 1px 6px 6px #c5c5c5;
	  border:1px solid #000000;
	  background-color:#fff;
	}
	
	#boxes #dialog1 {
	  width:375px; 
	  height:203px;
	}
	
	#dialog1 .d-header {
	  background:url(images/login-header.png) no-repeat 0 0 transparent; 
	  width:375px; 
	  height:150px;
	}
	
	#dialog1 .d-header input {
	  position:relative;
	  top:60px;
	  left:100px;
	  border:3px solid #cccccc;
	  height:22px;
	  width:200px;
	  font-size:15px;
	  padding:5px;
	  margin-top:4px;
	}
	
	#dialog1 .d-blank {
	  float:left;
	  background:url(images/login-blank.png) no-repeat 0 0 transparent; 
	  width:267px; 
	  height:53px;
	}
	
	#dialog1 .d-login {
	  float:left;
	  width:108px; 
	  height:53px;
	}
	
	#boxes #dialog2 {
	  background:url(images/notice.png) no-repeat 0 0 transparent; 
	  width:326px; 
	  height:229px;
	  padding:50px 0 20px 25px;
	}
	.textstyle{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-color:#888888;
	}
	
	table.dialogbox{
		width: 100%;
		height: auto;
		float: left;
		margin: 0 auto;
	}
	table.dialogbox td{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:12px;
		font-color:#000;
		text-align: left;
		padding: 4px;
		vertical-align: middle;
	}
	table.dialogbox h1{
		font: bold 18px/20px Arial, Helvetica, sans-serif;	
		color:#639adf;
		text-align: center;
		vertical-align: middle;
	}
	
	table.dialogbox  a{
		font-family: Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#264687;
		text-align: left;
		text-decoration: underline;
		padding: 4px;
		vertical-align: middle;
	}
	table.dialogbox a:hover{
		font-family: Arial, Helvetica, sans-serif;
		font-size:11px;
		color:#264687;
		text-align: left;
		text-decoration: none;
		padding: 4px;
		vertical-align: middle;
	}
.dot_line{
	background: url(http://www.pccounter.net/media/images/dot_line.gif) left bottom  repeat-x;
}
img.border{
	margin: 0;
	padding: 4px;	
	/*border: 1px solid #dcdcdc;*/
	background: #FFFFFF;
}
img.border1{
	margin: 0;
	padding: 4px;	
	border: 1px solid #e4e4e4;
	background: #f9f9f9;
}
img.wrap{
	margin: 10px;
	padding: 2px;
	float: left;
	border: 1px solid #d4d4d4;
	background: #FFFFFF;
}
#maindiv{
	width: 1104px;
	height: auto;
	background: none;
	border: 0;
	float: none;
	clear: both;	
	margin: 0 auto;
}
div#header{
	float: none;
	height: 147px;
	margin: 0 auto;
	width: 1104px;
	background: none;
	border: 0;
}
div#header ul{
	margin: 0;
	padding: 0;
}
div#header ul li{
	margin: 0;
	padding: 0;
	float: left;	
	list-style-type: none;
}
div#header ul li.redtext{
	font: bold 13px/18px Arial, Helvetica, sans-serif;	
	color: #fa0200;
	padding: 6px 0 0 21px;
}	
.header_left{
	float: left;
	height: auto;
	margin: 25px auto;
	width: 336px;
}
.header_right{
	width: 474px;
	height: auto;
	background: none;
	float: right;
	border: 0;
	margin: 0 auto;
}
.header_right ul{
	margin: 0;
	padding: 0;
}
.header_right ul li{
	margin: 0;
	padding: 0;
	float: left;
	font: bold 13px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	list-style-type: none;
	color: #FFFFFF;
}
.header_right ul li.text{
	margin: 0;
	padding: 0;
	font: normal 12px/22px Arial, Helvetica, sans-serif;
	color: #fff;
} 
.header_right ul li.text span{
	margin: 0;
	padding: 0;
	font: normal 12px/22px Arial, Helvetica, sans-serif;	
	color: #fca501;
}

.search_box{
	background: url(http://www.pccounter.net/media/images/search_bg.png) left top no-repeat;
	width: 474px;
	height: 53px;
	border:0;
	margin: 25px auto;
	float: left;
}
.search_bg{
	font: normal 12px/20px  Arial, Helvetica, sans-serif;
	color: #9b9b9b;
	background: url(http://www.pccounter.net/media/images/textfield_bg.png) left top no-repeat;
	width: 402px;
	height: 36px;	
	border: 0;
	float: left;
	margin: 0 auto;
}
input.search_field{
	font: normal 16px/26px Georgia, "Times New Roman", Times, serif;
	color: #777474;
	background: none;
	width: 360px;
	height: 30px;
	border: 0;
	float: left;
	font-style: italic;
	padding: 3px 0 0 36px;
	margin: 0;
}
input.search_btn{
	background: url(http://www.pccounter.net/media/images/go_btn.png) left top no-repeat;
	width: 46px;
	height: 36px;
	border: 0;
	float: right;
	margin: 0 auto;
	font: bold 18px/17px Arial, Helvetica, sans-serif;
	color: #fff;
	cursor: pointer;
}
input.search_bg1{
	font: normal 11px/17px Arial, Helvetica, sans-serif;
	color: #717171;
	background: #ffffff;
	width: 240px;
	height: 32px;
	border: 1px solid #eadad0;
	padding: 0 0 0 5px;
	border-radius: 2px;
	margin: 10px 0;
}
input.search_btn1{
	background: url(http://www.pccounter.net/media/images/sub_btn.gif) left top no-repeat;
	width: 94px;
	height: 33px;
	border: 0;
	cursor: pointer;
}
#navigation_bg{
	background: url(http://www.pccounter.net/media/images/nav_bg.png) left top no-repeat;
	width: 1104px;
	height: 44px;	
	border: 0;
	float: none;
	margin: 0 auto;
}

#nav{	
	width: auto;
	height: auto;
	float: left;
	margin: 0 auto;		
}
#nav ul{
	padding: 0;
	margin: 0;
}
#nav ul li{
	padding: 0;
	margin: 0;
	text-align: left;
	float: left;
	background: url(http://www.pccounter.net/media/images/menu_bar.gif) right top no-repeat;	
	list-style-type: none;
	display: block;	
	text-decoration: none;
	font-style: italic;	
}
#nav ul li a{	
	text-decoration: none;
	padding: 0 20px;
	display: block;	
	font: normal 16px/44px  Arial, Helvetica, sans-serif;	
	color: #fff;	
}
#nav ul li a img{
	line-height: 44px;
	vertical-align: middle;
}
#nav ul li a:hover, #nav ul li a.here, #nav ul li a.here:hover{
	color: #dbd7d5;
	font: normal 16px/44px  Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 0 20px;
	display: block;
	text-decoration: none;			
}

.sighin_box{	
	width: auto;
	height: auto;
	float: right;
	margin: 0;		
}
.sighin_box ul{
	padding: 0;
	margin: 0;
}
.sighin_box ul li{
	padding: 0;
	margin: 0;
	text-align: left;
	float: right;
	background: url(http://www.pccounter.net/media/images/menu_bar.gif) right top no-repeat;	
	list-style-type: none;
	line-height: 44px;	
}
.sighin_box ul li a{	
	text-decoration: none;
	padding: 0 20px;
	display: block;	
	font: normal 12px/44px  Arial, Helvetica, sans-serif;	
	color: #fff;	
}
.sighin_box ul li a:hover, .sighin_box ul li a.here, .sighin_box ul li a.here:hover{
	color: #dbd7d5;
	font: normal 12px/44px  Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 0 20px;
	display: block;
	text-decoration: none;			
}
div#maincontent{
	width: 1104px;
	height: auto;
	float: none;
	margin: 4px auto;	
	background: none;
	border: 0;	
}
div#content{
	width: 1104px;
	height: auto;
	float: none;
	margin: 4px auto;	
	background: none;
	border: 0;	
}
.topbox{
	width: 1104px;
	min-height:30px;
	float: none;
	margin: 4px auto;	
	border-bottom: 1px solid #ebebeb;
	overflow: hidden;	
}
.topbox_1{
	width: 916px;
	
	float: left;
	margin: 4px auto;	
	background: none;
	border: 0;	
}
.topbox_1 h1{
	font: normal 24px/26px Arial, Helvetica, sans-serif;
	color: #bc2426;
	margin: 0;
	text-align: left;
	text-transform: none;
	vertical-align: top;	
	padding: 8px 0 0 15px;
}
.topbox_1 p{
	font: normal 14px/16px Arial, Helvetica, sans-serif;
	color: #0a3f8b;
	margin: 0;
	text-align: left;
	text-transform: none;
	vertical-align: top;	
	padding: 0 0 0 15px;
}
.topbox_r{
	width: 188px;
	height: 72px;
	float: right;
	margin: 20px auto;	
	background: none;
	border: 0;	
}
.leftcol{
	width: 810px;
	height: auto;
	background: none;
	float: left;
	margin: 5px auto;
}
.latest_deal{
	width: 810px;
	height: auto;
	background: none;
	float: none;
	margin: 0 auto 8px auto;
}
.left_top{
	width: 807px;
	height: 50px;
	background: url(http://www.pccounter.net/media/images/top_heading.gif) left bottom no-repeat;
}
.left_subcat{
	width: 795px;
	height: auto;
	background: url(http://www.pccounter.net/media/images/top_heading.gif) left bottom no-repeat;
}
.left_top h1{
    margin: 0;
	padding: 0 14px;
	font: bold 18px/40px Arial, Helvetica, sans-serif;
	color: #ff6600;
	text-transform: uppercase;	
}
.left_mid{
	width: 807px;
	height: auto;
	background: url(http://www.pccounter.net/media/images/mid_heading.gif) left top repeat-y;
	overflow: hidden;
	padding-left: 11px;
}
.pro_box{
	width: 185px;
	height: 335px;
	background: none;
	float: left;
	margin: 13px 12px 13px 0px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.pro_top{
	width: 185px;
	height: 5px;
	background: url(http://www.pccounter.net/media/images/probg_top.gif) left top no-repeat;
	background-size:185px;
}
.pro_mid{
	width: 185px;
	height: auto;
	overflow: hidden;
}
.pro_mid h1{
    margin: 0;
	padding: 4px 19px 6px 19px;
	font: bold 12px/13px Arial,Helvetica,sans-serif;
	margin: 0;	
	padding: 4px 0; 
	text-transform: none; 
	text-decoration: none;
	text-transform: none;	
	text-align:center;
	height:34px;
	overflow:hidden;
}

.pro_mid ul{
	margin: 0;
	padding: 0;
}
.pro_mid ul li{
	margin: 0;
	padding: 8px 3px;	
	list-style-type: none;
	width: 185px;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #222222;	
	height: 13px;
	overflow: hidden;
	text-align: center;
}

.pro_mid ul li.price{
	height: 24px;
	width: 154px;
	margin: 0 auto;
}
.pro_mid ul li span{
	font: normal 12px/20px Arial, Helvetica, sans-serif;
	color: #fe6700;
	padding: 0;
	margin: 0;	
}
.pro_mid ul li a{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;
	text-decoration: none;
}
.pro_mid ul li a:hover{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;
	text-decoration: underline;
}

.pro_mid ul li .redtext{
	font: normal 18px/20px Arial, Helvetica, sans-serif;
	color: #bc2426;
	padding: 0;
	margin: 0;	
}
.pro_mid ul li .redtext1{
	font: bold 13px/20px Arial, Helvetica, sans-serif;
	color: #bc2426;
	padding: 0;
	margin: 0;	
}
.pro_bot{
	width: 185px;
	height: 23px;
	background: url(http://www.pccounter.net/media/images/probg_bot.png) left top no-repeat;
	background-size:185px;
}

.left_bot{
	width: 807px;
	height: 9px;
	background: url(http://www.pccounter.net/media/images/bot_heading.gif) left top no-repeat;
}
.rightcol{
	width: 278px;
	height: auto;
	background: none;
	float: right;
	margin: 0 auto;
}
.right_box{
	width: 278px;
	height: auto;
	background: none;
	float: none;
	margin: 6px auto;
}
.right_top{
	width: 278px;
	height: 49px;
	background: url(http://www.pccounter.net/media/images/right_top.gif) left bottom no-repeat;
}
.right_top h1{
    margin: 0;
	padding: 0 14px;
	font: bold 14px/40px Arial, Helvetica, sans-serif;
	color: #ff6600;
	text-transform: uppercase;	
}
.right_mid{
	width: 278px;
	height: auto;
	background: url(http://www.pccounter.net/media/images/right_mid.gif) left top repeat-y;
	overflow: hidden;
}
.right_mid h1{
    margin: 0;
	padding: 0 14px;
	font: bold 14px/40px Arial, Helvetica, sans-serif;
	color: #3c3c3c;
	text-transform: none;	
}

.right_mid ul{
	margin: 0;
	padding: 0;
}
.right_mid ul li{
	margin: 0;
	padding: 0 14px;	
	list-style-type: none;
	float: left;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #67605c;	
}
.right_mid ul li span{
	font: normal 11px/30px Arial, Helvetica, sans-serif;
	color: #c2b5ad;
	padding: 0;
	margin: 0;	
}
.right_mid ul li a{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;	
	text-decoration: none;
}
.right_mid ul li a:hover{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;	
	text-decoration: underline;
}
.right_mid ul li span a{
	font: normal 14px/18px Arial, Helvetica, sans-serif;
	color: #ff7200;	
	text-decoration: none;
}
.right_mid ul li span a:hover{
	font: normal 14px/18px Arial, Helvetica, sans-serif;
	color: #ff7200;
	text-decoration: underline;
}
.right_bot{
	width: 278px;
	height: 13px;
	background: url(http://www.pccounter.net/media/images/right_bot.gif) left top no-repeat;
}
.pic_box{
	width: 80px;
	height: 50px;
	background: none;
	float: left;
	margin: 4px 0 4px 10px;
}
.pic_box a img{
    max-height: 60px;   
    max-width: 69px;   
}
.detail_box{
	width: 609px;
	height: auto;
	background: #FFFFFF;
	overflow: hidden;
	float: none;
	margin: 0 auto 20px auto;
}
.detail_left{
	width: 275px;
	height: auto;
	background: none;
	float: left;
	margin: 0 auto;
}
.detail_right{
	width: 320px;
	height: auto;
	background: none;
	float: right;
	margin: 0 auto;
}
.detail_right ul{
	margin: 0;
	padding: 0;
}
.detail_right ul li{
	margin: 0;
	padding: 0;
	width: 320px;
	list-style-type: none;
	float: left;
	font: bold 16px/18px Arial, Helvetica, sans-serif;
	color: #fca501;	
}
.detail_right ul li span{
	font: bold 16px/18px Arial, Helvetica, sans-serif;
	color: #399fbf;
	padding: 0;
	margin: 0;	
}
.detail_right ul li p{
	font: bold 19px/28px Arial, Helvetica, sans-serif;
	color: #c0c0c0;
	padding: 20px 0 0 0;
	margin: 0;	
}
.detail_right ul li a{
	margin: 0;
	padding: 0;
	font: normal 20px/20px Arial, Helvetica, sans-serif;
	color: #399fbf;
	text-transform: none;
	text-decoration: none
}
.detail_right ul li a:hover{
	margin: 0;
	padding: 0;
	font: normal 20px/20px Arial, Helvetica, sans-serif;
	color: #399fbf;
	text-transform: none;
	text-decoration: underline;
}
.detail_right ul li h1{
	margin: 0 15px 0 0;
	padding: 8px 0 10px 20px;
	font: bold 20px/20px Arial, Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
	font-style: italic;	
}

.content_left{
	width: 500px;
	height: auto;
	float: left;
	margin: 20px auto;	
	background: none;
	border-right: 1px solid #e98280;	
}
.content_left td{
	font: normal 13px/28px Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: left;
	vertical-align: middle;	
}
.content_left a{
	margin: 0;
	padding: 10px 0 10px 30px;
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
	text-decoration: underline;
}
.content_left a:hover{
	margin: 0;
	padding: 10px 0 10px 30px;
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
	text-decoration: none;
}
.content_left h1{
	margin: 0 15px 0 0;
	padding: 18px 0 10px 0;
	font: bold 24px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
}
.content_left span{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #ccc;
	padding:0;
	margin: 0;
}
.content_right{
	width: 440px;
	height: auto;
	float: right;
	margin: 20px auto 0 auto;	
	background: none;
	border: 0;	
}
.content_right td{
	font: normal 13px/28px Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: left;
	vertical-align: middle;	
}
.content_right a{
	margin: 0;
	padding: 10px 0 10px 30px;
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
	text-decoration: underline;
}
.content_right a:hover{
	margin: 0;
	padding: 10px 0 10px 30px;
	font: bold 16px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
	text-decoration: none;
}
.content_right h1{
	margin: 0 15px 0 0;
	padding: 18px 0 10px 0;
	font: bold 24px/28px Arial, Helvetica, sans-serif;
	color: #fca501;
}
.content_right span{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #ccc;
	padding:0;
	margin: 0;
}
.hot_deal{
	width: 94px;
	height: 96px;
	background: url(http://www.pccounter.net/media/images/hot_deal.png) left top no-repeat;
	position: absolute;
	z-index: 1000;
	float: left;
	margin: 37px 0 0 124px;
	background-size: 62px;
}

.hot_dealbtn{
	width: 160px;
	height: 38px;
	background: url(http://www.pccounter.net/media/images/btn_orange.png) left top no-repeat;
	position: absolute;
	z-index: 1000;
	float: left;
	margin: -27px 0 0 50px;
}
.hot_dealbtn a{
	font: bold 14px/38px Arial, Helvetica, sans-serif;
	color: #fff;
	padding:0 0 0 14px;
	text-decoration: none;
}
.hot_dealbtn a:hover{
	font: bold 14px/38px Arial, Helvetica, sans-serif;
	color: #000;
	padding:0 0 0 14px;
	text-decoration: none;
}
.hot_dealbtn1{
	width: 160px;
	height: 38px;
	background: url(http://www.pccounter.net/media/images/btn_orange.png) left top no-repeat;
	position: absolute;
	z-index: 1000;
	float: left;
	margin: 66px 0 0 19px;
}

.hot_dealbtn1 a{
	font: bold 14px/38px Arial, Helvetica, sans-serif;
	color: #fff;
	padding:0 0 0 14px;
	text-decoration: none;
}
.hot_dealbtn1 a:hover{
	font: bold 14px/38px Arial, Helvetica, sans-serif;
	color: #000;
	padding:0 0 0 14px;
	text-decoration: none;
}

.hot_dealbtn2{
    width: 120px;
    height: 28px;
    background: url(http://www.pccounter.net/media/images/btn_orange2.png) left top no-repeat;
    position: absolute;
    z-index: 1000;
    float: left;
    margin: -25px 0px 0px 34px;
    font: bold 15px/38px Arial, Helvetica, sans-serif;
    color: #fff !important;
    text-align: center !important;
    text-transform: uppercase;
    background-size: 100%;
    font-size: 12px;
}
.getDealStr{
    margin-top: -5px;
}
.hot_dealbtn2:hover{
	color: #000 !important;
	text-decoration: none !important;
}

.hot_dealbtn3{
	width: 160px;
	height: 38px;
	background: url(http://www.pccounter.net/media/images/btn_orange3.png) left top no-repeat;
	position: absolute;
	z-index: 1000;
	float: left;
	margin: 66px 0 0 19px;
}
.hot_dealbtn3 a, .hot_dealbtn3 a:hover{
	width: 92px;
	float: left;
	font: bold 13px/38px Arial, Helvetica, sans-serif;
	color: #fff !important;
	padding-left: 13px !important;
	text-align: center !important;
}
.hot_dealbtn3 span{
	width: 46px;
	float: left;
	text-align: right;
	padding-right: 4px;
	margin-top: 4px;
	color: #f96200;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.border_bg{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    float: left;
    margin: 2px 7px;
    overflow: hidden;
    padding: 5px;
    width: 160px;
	height:140px;
	position:relative;
}

.border_bg img {
	max-width:148px;
	max-height:135px;
	/* display: block; 
	margin: auto;*/
	/*min-height: 80px;
	min-width: 40px;*/
	position: absolute;
	top: 7px;
	left: 7px;
	/*height: 100%;
	width: 100%;*/
	margin: auto;
}
.coupon_box{
	width: 788px;
	height: auto;
	background: #FFFFFF;
	float: none;
	overflow: hidden;
	border: 1px solid #e6e6e6;
	margin: 8px auto;
}

.coupon{
	width: 170px;
	height: auto;
	background: none;
	float: left;
	border-right: 1px solid #d0d0d0;
	margin: 10px auto;
}
.coupon h1{
    margin: 0;
	padding: 0 8px 0 0;
	font: bold 13px/15px Arial, Helvetica, sans-serif;
	color: #2b2b2b;	
	text-transform: none;	
}

.coupon ul{
	margin: 0;
	padding: 0;
	min-height: 100px;
}
.coupon ul li{
	margin: 0;
	padding: 6px 8px 0 9px;	
	list-style-type: none;
	float: left;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #212121;	
}
.coupon ul li span{
	font: normal 12px/20px Arial, Helvetica, sans-serif;
	color: #fe6700;
	padding: 0;
	margin: 0;	
}
.coupon ul li a{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;
	text-decoration: none;
}
.coupon ul li a:hover{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;
	text-decoration: underline;
}

.coupon ul li .redtext{
	font: normal 18px/20px Arial, Helvetica, sans-serif;
	color: #bc2426;
	padding: 0;
	margin: 0;	
}
.coupon ul li .redtext1{
	font: bold 13px/20px Arial, Helvetica, sans-serif;
	color: #bc2426;
	padding: 0;
	margin: 0;	
}

/*footer_bg*/
#footer_bg{
	width: 100%;
	height: 375px;
	background: url(http://www.pccounter.net/media/images/footerbg.gif) left top repeat-x;
	float: none;
	margin: 14px auto 0 auto;
}
.footer{
	width: 1104px;
	height: auto;
	background: none;
	float: none;
	margin: 0 auto;
}.footer2{	width: 1104px;	height: auto;	background: url(http://www.pccounter.net/media/images/greybg.gif) left top repeat-x;	padding-top:20px;	float: none;	margin: 13px 0px 0px 0px;}
.footer_left{
	width: 750px;
	height: auto;
	background: none;
	float: left;
	margin: 2px auto;	padding-left:10px;
	color: #3b3b3b;
	font: normal 13px/19px Arial, Helvetica, sans-serif;
}
.footer_left a{
	color: #3b3b3b;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 4px;
}
.footer_left a:hover{
	color: #399fbf;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 4px;	
}
.footer_left span a{
	color: #1d519c;		
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 4px;
}
.footer_left span a:hover{
	color: #399fbf;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 4px;	
}

.footer_right{
	width: 200px;
	height: auto;
	background: none;
	float: right;
	margin: 6px auto 0 auto;
	color: #2d2d2d;
	font: normal 14px/39px Arial, Helvetica, sans-serif;
}
.footer_link{
	width: auto;
	height: auto;
	float: left;
	text-align: left;
	margin: 20px 0px 20px 10px;
	background: url(http://www.pccounter.net/media/images/line_r.gif) right top repeat-y;
	overflow: hidden;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #757575;
}
.footer_link h1{
	font: bold 14px/20px Arial, Helvetica, sans-serif;
	color: #ff6600;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;	
	padding: 0;
}
.footer_link ul{
	padding: 0;
	margin: 0;
}
.footer_link ul li{
	padding: 4px 0 0 0;
	margin: 0;
	list-style-type: none;
	float: left;
	width: 140px;
	font: normal 14px/17px Arial, Helvetica, sans-serif;
	color: #fff;		
}
.footer_link ul li a{
	color: #3d3d3d;
	background: url(http://www.pccounter.net/media/images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;
}
.footer_link ul li a:hover{
	color: #399fbf;	
	background: url(http://www.pccounter.net/media/images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;	
}
footer_link span{
	padding: 0;
	margin: 0;	
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #bcbcbc;
	font-style: italic;		
}
.footer_link span a{
	color: #757575;
	background: url(http://www.pccounter.net/media/images/bullets.gif) left center no-repeat;	
	text-decoration: none;	
	padding: 0 14px;
}
.footer_link span a:hover{
	color: #757575;	
	text-decoration: underline;	
	padding: 0 14px;
	background: url(http://www.pccounter.net/media/images/bullets.gif) left center no-repeat;	
}

.footer_link1{
	width: 300px;
	height: auto;
	float: left;
	text-align: left;
	margin: 20px 0px 20px 20px;
	background: none;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #757575;
}
.footer_link1 h1{
	font: bold 14px/20px Arial, Helvetica, sans-serif;
	color: #ff6600;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;	
	padding: 0 0 0 15px;
}
.footer_link1 ul{
	padding: 0;
	margin: 0;
}
.footer_link1 ul li{
	padding: 4px 0 0 15px;
	margin: 0;
	list-style-type: none;
	float: left;	
	font: normal 14px/17px Arial, Helvetica, sans-serif;
	color: #fff;		
}
.footer_link1 ul li a{
	color: #3d3d3d;
	background: url(http://www.pccounter.net/media/images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;
}
.footer_link1 ul li a:hover{
	color: #399fbf;	
	background: url(http://www.pccounter.net/media/images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;	
}

.footer_link2{
	width: 140px;
	height: auto;
	float: right;
	text-align: left;
	margin: 40px auto;
	background: none;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #757575;
}
.footer_link2 h1{
	font: bold 14px/20px Arial, Helvetica, sans-serif;
	color: #ff6600;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;	
	padding: 0 0 0 15px;
}
.footer_link2 ul{
	padding: 0;
	margin: 0;
}
.footer_link2 ul li{
	padding: 4px 0 0 15px;
	margin: 0;
	list-style-type: none;
	float: left;
	width: 140px;
	font: normal 14px/17px Arial, Helvetica, sans-serif;
	color: #fff;		
}
.footer_link2 ul li a{
	color: #3d3d3d;
	background: url(http://www.pccounter.net/media/images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;
}
.footer_link2 ul li a:hover{
	color: #399fbf;	
	background: url(http://www.pccounter.net/media/images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;	
}
.footer_brands{
	height: auto;
	background: url(http://www.pccounter.net/media/images/greybg.gif) left top repeat-x;
	float: none;
	margin: 0px auto;	padding:0px 10px;
}

.footer_brands ul{
	padding: 0;
	margin: 10px 0 0 0;
}
.footer_brands ul li{
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: left;
	width: 216px;
	display: block;
	font: normal 14px/17px Arial, Helvetica, sans-serif;
	color: #fff;		
}
.footer_brands ul li a{
	color: #3d3d3d;
	background: url(http://www.pccounter.net/media/images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;
}
.footer_brands ul li a:hover{
	color: #399fbf;	
	background: url(http://www.pccounter.net/media/images/bullets.gif) left center no-repeat;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 14px;	
}

.footer_brands h1{
	font: bold 14px/26px Arial, Helvetica, sans-serif;
	color: #ff6600;
	margin: 0;
	text-align: left;
	text-transform: uppercase;
	vertical-align: top;	
	padding: 13px 0 0 0;
}



/*=================================Goutam10-09-2012=============================================*/

table.details{
	width: 780px;
	height: auto;
	float: none;
	margin: 9px auto; 
	background: none;
}

table.details td{
	color: #7f7f7f;
	font: bold 11px/16px Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: top;
}
table.details a{
	color: #7f7f7f;
	font: bold 11px/16px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
table.details a:hover{
	color: #7f7f7f;
	font: bold 11px/16px Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
table.details_right{
	width: 395px;
	height: auto;
	float: left;
	margin: 0 auto; 
	background: none;
}
table.details_right td{
	color: #212121;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	font: normal 14px/22px Arial, Helvetica, sans-serif;

}
table.details_right td span{
	color: #212121;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	text-decoration: line-through;
	font: bold 14px/22px Arial, Helvetica, sans-serif;

}
table.details_right .textred{
	color: #bc2426;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	text-decoration: none;	
	font: normal 18px/22px Arial, Helvetica, sans-serif;
}
table.details_right .textred1{
	color: #bc2426;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	text-decoration: none;	
	font: bold 13px/22px Arial, Helvetica, sans-serif;
}
table.details_right .textblack{
	color: #222222;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	text-decoration: none;	
	font: bold 14px/22px Arial, Helvetica, sans-serif;
}
table.details_right .textgrey{
	color: #a8a8a8;
	text-align: left;
	vertical-align: top;
	padding: 2px 0;
	text-decoration: none;	
	font: normal 12px/22px Arial, Helvetica, sans-serif;
}
table.details_right a{
	color: #2b2b2b;
	font: normal 22px/28px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
table.details_right a:hover{
	color: #2b2b2b;
	font: normal 22px/28px Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

table.details_right th{
	color: #212121;
	text-align: left;
	vertical-align: top;
	padding: 0;
	font: normal 14px/17px Arial, Helvetica, sans-serif;
}
table.details_right th a{
	color: #767676;
	font: bold 13px/17px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
table.details_right th a:hover{
	color: #767676;
	font: bold 13px/17px Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

table.details_right th span a{
	color: #ff6600;
	font: bold 13px/17px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding:0;
	margin: 0;
}
table.details_right th span a:hover{
	color: #ff6600;
	font: bold 13px/17px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	padding:0;
	margin: 0;
}

img.border2{
	margin: 10px 0;
	padding: 0;	
	border: 1px solid #a2a2a4;
	background: #f9f9f9;
}


.text_box{
	width: 166px;
	height: auto;
	background: none;
	float: right;
	margin: 4px 0 4px 10px;
}


.text_box ul{
	padding: 0;
	margin: 10px 0 0 0;
}
.text_box ul li{
	padding: 0;
	margin: 0;
	list-style-type: none;
	float: left;	
	font: normal 12px/15px Arial, Helvetica, sans-serif;
	color: #585858;		
}
.text_box ul li a{
	color: #eb8100;
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 0;
}
.text_box ul li a:hover{
	color: #399fbf;	
	text-decoration: none;
	font: normal 13px/19px Arial, Helvetica, sans-serif;	
	padding: 2px 0;	
}

.category_box{
	width: 180px;
	height: auto;
	background: none;
	float: left;
	margin: 10px 4px 10px 8px;
}
.category_top{
	width: 189px;
	height: 37px;
	background: url(http://www.pccounter.net/media/images/cat_topbg.gif) left bottom no-repeat;
}
.category_top h1{
    margin: 0;
	padding: 0 14px;
	font: bold 14px/34px Arial, Helvetica, sans-serif;
	color: #fff;	
}
.category_top ul, .category_top ul li{
    margin: 0;
	padding: 0px;
	list-style-type: none;
	font: bold 14px/34px Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	z-index: 1;
}
.category_top ul, .category_top ul li a{
	color: #fff;
	text-decoration: none;
}
.category_mid{
	width: 189px;
	height: 133px;
	background: url(http://www.pccounter.net/media/images/catbg_mid.gif) left top repeat-y;
	overflow: hidden;
}
.category_mid h1{
    margin: 0;
	padding: 0 14px;
	font: bold 14px/40px Arial, Helvetica, sans-serif;
	color: #3c3c3c;
	text-transform: none;	
}

.category_mid ul{
	margin: 0;
	padding: 0;
}
.category_mid ul li{
	margin: 0;
	padding: 0 14px;	
	list-style-type: none;
	float: left;
	font: normal 12px/14px Arial, Helvetica, sans-serif;
	color: #67605c;	
}
.category_mid ul li span{
	font: normal 11px/30px Arial, Helvetica, sans-serif;
	color: #c2b5ad;
	padding: 0;
	margin: 0;	
}
.category_mid ul li a{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;	
	text-decoration: none;
}
.category_mid ul li a:hover{
	font: normal 11px/18px Arial, Helvetica, sans-serif;
	color: #67605c;	
	text-decoration: underline;
}
.category_mid ul li span a{
	font: normal 14px/18px Arial, Helvetica, sans-serif;
	color: #ff7200;	
	text-decoration: none;
}
.category_mid ul li span a:hover{
	font: normal 14px/18px Arial, Helvetica, sans-serif;
	color: #ff7200;
	text-decoration: underline;
}
.category_bot{
	width: 189px;
	height: 25px;
	background: url(http://www.pccounter.net/media/images/catbg_bot.png) left top no-repeat;
}

.category_bg{
	width: 252px;
	height: auto;
	min-height: 680px;
	background: url(http://www.pccounter.net/media/images/catbg.gif) left top repeat-y;
	overflow: hidden;
	float: left;
	color: #646464;
	font: normal 12px/26px Arial, Helvetica, sans-serif;
	margin: 10px 14px 10px 0;
}

.category_bg h1{
    margin: 20px 0 0 0;
	padding: 0;
	font: normal 22px/34px Arial, Helvetica, sans-serif;
	color: #ff6600;	
}

.category_bg a{
	color: #646464;
	font: normal 12px/26px Arial, Helvetica, sans-serif;
	text-decoration: none;
	padding: 0;
	text-align: left;
}

.category_bg a:hover{
	color: #646464;
	font: normal 12px/26px Arial, Helvetica, sans-serif;
	text-decoration: underline;
	padding: 0;		
}
.category_bg span a{
	color: #ff6600;
	font: bold 15px/36px Arial, Helvetica, sans-serif;
	text-decoration: none;	
	font-style: italic;
	padding: 0;
	border-bottom: 1px solid #e0e0e0;		
}

.category_bg span a:hover{
	color: #000;
	padding: 0;
	font: bold 15px/36px Arial, Helvetica, sans-serif;
	text-decoration: none;	
	font-style: italic;	
			
}

.pro_mid a{
	text-decoration: none;
	color: #2b2b2b;

}
.pro_mid a:hover{	
	text-decoration: none;
}

/*######################## DIALOG BOX STARTS ########################*/

table.dialogbox{
	width: 100%;
	height: auto;
	float: left;
	margin: 0 auto;
}
table.dialogbox td{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-color:#000;
	text-align: left;
	padding: 4px;
	vertical-align: middle;
}
table.dialogbox h1{
	font: bold 18px/20px Arial, Helvetica, sans-serif;	
	color:#639adf;
	text-align: center;
	vertical-align: middle;
}

table.dialogbox a{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#264687;
	text-align: left;
	padding: 4px;
	text-decoration: underline;
	vertical-align: middle;
}
table.dialogbox a{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#264687;
	text-align: left;
	padding: 4px;
	text-decoration: none;
	vertical-align: middle;
}

input.txtfieldbg{
	width: 292px;
	height: 20px;
	background: #FFFFFF;
	font: normal 12px/20px Arial, Helvetica, sans-serif;	
	color:#7b7a77;
	padding: 2px 0 0 4px;
	border: 1px solid #CCCCCC;
}

input.signin_btn{
	width: 94px;
	height: 33px;
	background: url(http://www.pccounter.net/media/images/sign_btn.gif) left top no-repeat;
	font: normal 13px/30px Arial, Helvetica, sans-serif;	
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding: 0 0 0 4px;
	border: 0;
	cursor: pointer;
}
input.signin_btn:hover{
	width: 94px;
	height: 33px;
	background: url(http://www.pccounter.net/media/images/sign_btnh.gif) left top no-repeat;
	font: normal 13px/30px Arial, Helvetica, sans-serif;	
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding: 0 0 0 4px;
	border: 0;
	cursor: pointer;
}

/*######################## DIALOG BOX ENDS ########################*/

/*=================================Registration 12-09-2012 Starts=================================*/

#registration_box{
	width: 924px;
	height: 563px;
	background: url(http://www.pccounter.net/media/images/registration_back.jpg) center top no-repeat;
	border: 0;
	float: none;
	margin: 28px auto;
}
.registration_left{
	width: 400px;
	height: 563px;
	background: none;
	border: 0;
	float: left;
	position: absolute;
	margin: 100px 0 0 30px;
}
.registration_left p{
	margin: 0;
	padding: 38px 20px;
	color: #fff;	
	font: normal 24px/30px Georgia, "Times New Roman", Times, serif;
}
.registration_left span{
	margin: 0;
	padding: 0;
	color: #fff;	
	font: normal 14px/18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}
.registration_bg{
	width: 427px;
	height: 542px;
	background: url(http://www.pccounter.net/media/images/registration_bg.jpg) center top no-repeat;
	border: 0;
	position: absolute;
	float: right;
	z-index: 1000; 
	margin: 0px 180px;
}
table.registration{
	width: 427px;
	height: auto;
	background: none;
	border: 0;
	float: left; 
	margin: 14px auto;
}
table.registration td{
	color: #000;	
	font: normal 12px/14px Arial, Helvetica, sans-serif;
}

table.registration td h1{
	color: #000;	
	font: normal 20px/24px Arial, Helvetica, sans-serif;
	padding: 0 0 0 16px;
	margin: 0;
}
table.registration a{
	color: #0075c0;	
	font: normal 12px/24px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
table.registration a:hover{
	color: #000;	
	font: normal 12px/24px Arial, Helvetica, sans-serif;
	text-decoration: none;
}
input.txtfieldbg{
	width: 292px;
	height: 20px;
	background: #FFFFFF;
	font: normal 12px/20px Arial, Helvetica, sans-serif;	
	color:#7b7a77;
	padding: 2px 0 0 4px;
	border: 1px solid #CCCCCC;
}

input.signin_btn{
	width: 94px;
	height: 33px;
	background: url(http://www.pccounter.net/media/images/sign_btn.gif) left top no-repeat;
	font: normal 13px/30px Arial, Helvetica, sans-serif;	
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding: 0 0 0 4px;
	border: 0;
	cursor: pointer;
}
input.signin_btn:hover{
	width: 94px;
	height: 33px;
	background: url(http://www.pccounter.net/media/images/sign_btnh.gif) left top no-repeat;
	font: normal 13px/30px Arial, Helvetica, sans-serif;	
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding: 0 0 0 4px;
	border: 0;
	cursor: pointer;
}

input.create_btn{
	width: 172px;
	height: 32px;
	background: url(http://www.pccounter.net/media/images/create_btnh.gif) left top no-repeat;
	font: normal 13px/30px Arial, Helvetica, sans-serif;	
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding: 0 0 0 4px;
	border: 0;
	cursor: pointer;
}
input.create_btn:hover{
	width: 172px;
	height: 32px;
	background: url(http://www.pccounter.net/media/images/create_btn.gif) left top no-repeat;
	font: normal 13px/30px Arial, Helvetica, sans-serif;	
	color:#fff;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	padding: 0 0 0 4px;
	border: 0;
	cursor: pointer;
}

/*=================================Registration 12-09-2012 Ends=================================*/

/*=================================Forget Password 13-09-2012 Starts=================================*/

.forgot_box{
	width: 1090px;
	height: 424px;
	background: url(http://www.pccounter.net/media/images/envelope.png) left top no-repeat #b5e5fa;
	border: 0;
	float: none;
	margin: 28px auto;
	border: 2px dotted #006699;
}
.forgot_box h1{
	margin: 0;
	padding: 38px 0 20px 0;
	color: #000;
	text-align: center;
	vertical-align: middle;	
	font: bold 30px/30px Arial, Helvetica, sans-serif;
}
.forgot_box p{
	margin: 0;
	padding: 0;
	color: #000;
	text-align: center;
	vertical-align: middle;	
	font: normal 24px/24px Arial, Helvetica, sans-serif;
}

/*=================================Forget Password 13-09-2012 Ends=================================*/

 .filter_box{
	width: 100%;
	height: auto;
	background: #fff;
	margin: 10px 0 0 0;
	border: 1px solid #c0c0c0;
}
.filter_box th{
	font: normal 15px/29px Arial, Helvetica, sans-serif;
	color: #737373;
	padding: 0 0 0 0;
	background: #dadada;
	text-align: left;	
}
.filter_box td{
	font: normal 13px/29px Arial, Helvetica, sans-serif;
	color: #737373;
	padding: 0 0 0 0;
	text-align: left;
	border-bottom: 1px dotted #c0c0c0;
}

.filter_box tr.gray_01 td{
	font: normal 13px/29px Arial, Helvetica, sans-serif;
	color: #737373;
	padding: 0 0 0 10px;
	background: #f5f5f5;
}
.reply_box{
	width: auto;
	height: auto;
	background: #fff;
	margin: 10px 0 0 0;
}
.reply_box td{
	font: normal 12px/19px Arial, Helvetica, sans-serif;
	color: #737373;
	padding: 0 0 0 0;
	text-align: left;
}
.reply_box td textarea{
	font: normal 12px/17px Arial, Helvetica, sans-serif;
	color: #737373;
	padding: 0 0 0 0;
	background: #f0f0f0;
	text-align: left;
	width: 300px;
	height: 100px;
	border: 1px solid #c0c0c0;	
}
.reply_box td input[type=submit]{
	font: normal 12px/29px Arial, Helvetica, sans-serif;
	color: #fff;
	background: #ff6600;
	text-align: center;
	width: auto;
	height: auto;
	padding: 5px 10px;
	margin: 10px 0 0 0;
	border: 0px;
	cursor: pointer;
}


/* -------------------- What the entire dropdown backround will look like and its positioning  ---------------------- */

.gradientbuttons ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 13px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.gradientbuttons li{
display: inline;
margin: 0;
}

.gradientbuttons li a{
text-decoration: none;
padding: 5px 7px;
margin-right: 5px;
border: 1px solid #778;
color: white;
border:1px solid gray;
background: #3282c2;
border-radius: 8px; /*w3c border radius*/
box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* w3c box shadow */
-moz-border-radius: 8px; /* mozilla border radius */
-moz-box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* mozilla box shadow */
background: -moz-linear-gradient(center top, #a4ccec, #72a6d4 25%, #3282c2 45%, #357cbd 85%, #72a6d4); /* mozilla gradient background */
-webkit-border-radius: 8px; /* webkit border radius */
-webkit-box-shadow: 3px 3px 4px rgba(0,0,0,.5); /* webkit box shadow */
background: -webkit-gradient(linear, center top, center bottom, from(#a4ccec), color-stop(25%, #72a6d4), color-stop(45%, #3282c2), color-stop(85%, #357cbd), to(#72a6d4)); /* webkit gradient background */
}

.gradientbuttons li a:hover{
color: lightyellow;
}


.dc{
    display:inline;
    position: relative;
    z-index: 1008;
    padding:0;
}
.dc:hover{
    background-color: transparent;
    z-index: 50;
}
.dc ul{ 
    position: absolute;
    width:185px;
    background-color: #d85800;
    left: -1000px;
    list-style-type:none;
    visibility: hidden;
	border-bottom: 2px solid #e35300;
	z-index: 2;
}
.dc:hover ul{ 
    visibility: visible;
    top: 22px;
    left:2px;
	float: left;
}
/* -------------------- What the list items will look like inside the dropdown  ---------------------- */
.dc ul li{
    margin:0;
    padding:0;
    background-color: #ededef;
}
.dc ul li:hover {
    background-color: #e4e4e4 !important;
}
/* -------------------- What the links look like inside the dropdown  ---------------------- */
.dc ul li a {
    display:block ;!important;
	width:175px !important;
	padding: 0 0 0 10px !important;
	text-align: left !important;
	font: bold 12px/36px Arial, Helvetica, sans-serif !important;
	 color: #333;
	border-bottom: 1px solid #d9d9d9;
	background: none !important;
}
.dc ul li a:hover, .dc ul li a:active{
    text-decoration: none;
    color: #333;
	background: #e4e4e4 !important;
}

<!--STORES AND BRANDS EDITED ON 3rd October, 2012-->

.carousel_container{
	width: 720px;
	height: auto;
	border: 1px solid red;
}
#carousel_inner {
	float:left;
	width: 720px;
	height: 80px;
	background: none;
}
#carousel_ul {
	position:relative;
	left:-20px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 1000px;
	padding-bottom:10px;
}

#carousel_ul li{
	float: left;                                    
	width: 86px;
	padding:0px;
	height:60px;
	background: #000000;
	margin: 8px 5px; 
}
#carousel_ul li a{
	padding: 0px;
	margin: 0px;
}
#carousel_ul li img {
	margin:0;
	cursor:pointer;
	cursor: hand; 
	border:0px;
	padding: 2px;
	background: #FFFFFF;
	border: 1px solid #e6e6e6; 
}
#left_scroll, #right_scroll{
	float: left; 
	height: 60px; 
	width: 26px;
	margin: 10px 6px 0 8px; 
	background: none;
}
#left_scroll img, #right_scroll img{
	border:0;
	cursor: pointer;
	cursor: hand;
}

.alpha_text{
	width: 790px;
	height: 38px;
	background: #ecedec;
	overflow: hidden;
	border-bottom: 1px solid #cccdcc;
	float: none;
	margin: 0 auto;
        margin-left: -3px;
}
.alpha_text ul{	
	margin: 0;
	padding: 0;
}
.alpha_text ul li{	
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
	font: normal 12px/38px Arial, Helvetica, sans-serif;
	color: #caccca;
	text-transform: uppercase;
}
.alpha_text ul li a{
	font: normal 12px/38px Arial, Helvetica, sans-serif;
	color: #1e55a4;
	padding: 0 4px;
	text-decoration: none;	
}
.alpha_text ul li a:hover{
	font: normal 12px/38px Arial, Helvetica, sans-serif;
	color: #1e55a4;
	padding: 0 4px;
	text-decoration: underline;	
}

.store_bg{
	width: 807px;
	height: auto;
	background: none;
	border:0;
	float: none;
	margin: 10px auto;
}
.store_box{
	width: 240px;
	height: 60px;
	background: #fff;
	border: 1px solid #e6e6e6;
	float: left;
	margin: 10px 10px;
	display: inline-block;
}

.store_box ul, .store_box ul li{	
	margin: 0;
	padding: 0;
	list-style-type: none;	
}
.store_box .store_box_left{	
	 width: 102px;
	 height: auto;
	 float: left;
	 margin: 8px 8px 0 8px
}
.store_box .store_box_right{	
	 width: 122px;
	 height: auto;
	 float: left;
	 margin: 8px 0 0 0;
}
.store_box .store_box_right li{	
	font: bold 13px/16px Arial, Helvetica, sans-serif;
	color: #4a4a4a;
	text-decoration: none;	
}
.store_box .store_box_right li a{
	font: bold 13px/16px Arial, Helvetica, sans-serif;
	color: #4a4a4a;
	text-decoration: none;	
}
.store_box .store_box_right li a:hover{
	color: #FF6600;	
}


.best_stores{
	width: 780px;
	border: 0;	
	color: #4c4c4c;
	height: auto;
	font: normal 14px/16px Arial, Helvetica, sans-serif;
	padding: 0;
	float: none;
	margin: 10px auto;	
}
.best_stores h1{		
	color: #ff6600;	
	font: bold 20px/40px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 10px 0;
	border-bottom: 1px solid #e0e0e0;
	overflow: hidden;
}
.best_stores p{		
	color: #434343;	
	font: normal 14px/17px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 10px 0;	
}
.best_stores .text14{		
	color: #434343;	
	font: bold 14px/37px Arial, Helvetica, sans-serif;
	padding: 20px 0;
}
.best_stores span{		
	color: #f15d00;	
	font: bold 14px/17px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 10px 0;	
}
.best_stores ul{
	padding: 0;
	margin: 0;	
}
.best_stores ul li{		
	color: #434343;	
	font: normal 14px/16px Arial, Helvetica, sans-serif;
	padding: 7px 18px;
	background: url(http://www.pccounter.net/media/images/bullet.gif) left center no-repeat;
	margin: 0;
	list-style-type: none;
}
.best_stores ul li span{		
	color: #ff0000;	
	font: bold 14px/14px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
.best_stores ul li .textred{		
	color: #434343;	
	font: bold 18px/14px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}

<!--STORES AND BRANDS EDITED ON 3rd October, 2012-->

.buy form {
    width: 125px;
}
.buy .freeshipping, .buy .stackable-savings {
    color: #63AD23;
    font-family: proxima-nova,arial,sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.1em;
    margin-bottom: 0.2em;
    text-align: center;
}
.buy .freeshipping .bold, .buy .stackable-savings .bold {
    font-weight: bold;
}
.buy .button-outer {
    cursor: pointer;
    position: relative;
}
.buy .button-outer a {
    color: inherit;
    text-decoration: none;
}
.buy .button-outer .button {
    border: 1px solid #e75c00;
    border-radius: 1.2em 1.2em 1.2em 1.2em;
    font-size: 0.9em;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    overflow: hidden;
    position: relative;
    text-align: center;
	margin: 50px 0 0 13px;
}
.buy .button-outer .button .button-inner {
    background-color: #ff6600;
    background-image: -moz-linear-gradient(center top , #ff6600, #e35300);
    background-repeat: repeat-x;
    border-radius: 1.2em 1.2em 1.2em 1.2em;
    color: white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}
.buy .button-outer .button .button-inner.code {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 1em;
    text-align: left;
    width: 93px;
}
.buy .button-outer .button .coupon-code {
    color: #e75c00;
    padding: 0 0.5em;
    text-align: right;
}
.buy .button-outer .peelie {
    background-image: url("http://www.pccounter.net/media/images/peel1.png");
    background-repeat: no-repeat;
    background-size: 104% auto;
    height: 2.2em;
    left: 95px;
    position: absolute;
    top: 0;
    width: 2.2em;
    z-index: 6;
}



table.details td a.get_deal{
	width: 100px;
	height: 30px;
	display: inline-block;
	background: url(http://www.pccounter.net/media/images/btn_orange2.png) center center repeat-x;
	color: #fff !important;
	padding: 0 10x !important;
	border-radius: 4px !important;
	font: bold 13px/30px Arial, Helvetica, sans-serif !important;
	text-align: center !important;
	text-transform: uppercase;
}
table.details td a.get_deal:hover{
	text-decoration: none;
}

.categories{
	width: 96%;
	height: auto;
	margin: 0 auto;
	padding-bottom: 12px;
	border-bottom: 1px dashed #c1bfbf;
}
.categories h1{
	padding: 6px 0 0 0;
	margin: 0px;
	color: #0A3F8B;
	font-size: 14px;
}
.categories ul, .categories ul li{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
.categories ul li{
	width: 33%;
	float: left;
}
.categories ul li a{
	font: normal 12px/18px Arial, Helvetica, sans-serif;
	color: #333;
}
.categories ul li a:hover{
	color: #BC2426;
}
.breadcrumb {
	margin:2px 4px;
}
.breadcrumb a {
	color:#0a3f8b;
	font-size:15px;
}
.breadcrumb span{
	font-weight:bold;
	color:#ccc;
	font-size: 11px;
}


.paginator{
    float: right;
    margin-right: 15px;
}
.paginator a{
    background: #f0f0f0;
    color:#444;
    padding: 0 6px;
}
.paginator a:hover,.paginator strong{
    background: #333;
    color: #fff;
    text-decoration: none;
        padding: 0 6px;

}
.shareBox{
    display: none;
background-color: #fff;
z-index: 9999999;
border: 1px solid;
padding: 10px;
height: 40px;
width: 160px;
position: absolute;
}
.thumbsValue{
    margin-left: -21px;
    margin-top: 8px;
    width: 21px;
    font-size: 9px;
}
.shareLinks{
    margin: auto;
    width: 123px;
    
}
.shareLinks .thumbs{
    background: url('http://www.pccounter.net/media/images/thumb-on.png') no-repeat;
    width: 21px;
    height: 21px;
    float: left;
    margin:0 10px;
    cursor:pointer;
}
.shareLinks .share{
    background: url('http://www.pccounter.net/media/images/share.png') no-repeat;
    width: 21px;
    height: 21px;
    float: left;
    margin:0 10px;
    cursor:pointer;
}
.shareLinks .comment{
    background: url('http://www.pccounter.net/media/images/comment.png') no-repeat;
    width: 21px;
    height: 21px;
    float: left;
    margin:0 10px;
    cursor:pointer;
}
.thumbActive{
    background: url('http://www.pccounter.net/media/images/thumb-on_hover.png') no-repeat;
       width: 21px;
    height: 21px;
    float: left;
    margin:0 10px;
    cursor:pointer;
}
.shareLinks .thumbs.active{
    background: url('http://www.pccounter.net/media/images/thumb-on_hover.png') no-repeat;
}
.shareLinks .thumbs:hover{
    background: url('http://www.pccounter.net/media/images/thumb-on_hover.png') no-repeat;
}
.actualPriceList{
    text-decoration: line-through;
    color:#777 !important;
}
.dealPriceList{
    padding-bottom:0px !important;
}
.dealShareList{
    padding-top:0px !important;
}
.dealCategoryList{
    margin-top: 5px;
    margin-left: 0;
    width: 100%;
    text-align: center;
}
.dealCategoryList a {
    color: #000;
    font-size: 9pt;
}
.third_party.twitter { background: url(../images/signin1.png) no-repeat !important; border-radius: 5px;width: 80px;
height: 40px;
}
li.facebook { width: 80px;
height: 40px; 
margin-top: 5px !important;
border: 0;
background: none !important;} 
.third_party.facebook a,.third_party.twitter a{
    height: 40px;
    width: 73px;
    padding-left: 0px;
}
.field_error{
    color:#cc0000;
    font-size:8pt;
}
.left_mid input, .left_mid textarea{
    width:98%;
    margin-bottom: 10px;
    
}
