td{
	font-family: Verdana;
	font-size: 11px;
	color: #333333;
}
tr.TDHEAD_SUB{
	FONT-FAMILY: Verdana;
	FONT-SIZE : 11px;
	FONT-WEIGHT: bold;
	BACKGROUND-COLOR:#577559;
}
tr.TDHEAD_SUB td{
color: #fff;
}
a{
	color: #0363C6;
	text-decoration: underline;
}
a:hover {
	color: #000000;
	text-decoration: none;
}
 a.header_link:link{
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana,Arial,Times New Roman; 
	TEXT-DECORATION: underline
}
 a.header_link :hover {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: Verdana,Arial,Times New Roman; 
	TEXT-DECORATION: none
}
.txtArrow 
{
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial,Times New Roman
}
a.leftlink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Times New Roman; TEXT-DECORATION: none
}
a.leftlink:visited {
	 FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana,Arial,Times New Roman; TEXT-DECORATION: none
}
a.leftlink:hover {
	 FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY:  Verdana,Arial,Times New Roman; TEXT-DECORATION: underline
}
.maintable{
	width: 780px;
	background-color: #FFFFFF;
}
.maintable_admin{
	width: 100%;
	background-color: #FFFFFF;
}
.header{
	background-image: url(../images/top_bg.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	height: 100px;
}
.horz_dot{
	background-image: url(../images/horz_dot.gif);
	background-repeat: repeat-x;
	background-position: left center;
}
.vert_dot{
	background-image: url(../images/vert_dot.gif);
	background-repeat: repeat-y;
	background-position: center top;
}
.textbox{
	font-family: Verdana,Arial;
	font-size: 11px;
	color: #666666;
	width: 180px;
	height: 18px;
	padding-left: 2px;
	border: 1px solid #000000;
}
.textarea{
	font-family: Verdana,Arial;
	font-size: 11px;
	color: #666666;
	width: 220px;
	height: 80px;
	padding-left: 2px;
	border: 1px solid #000000;
}
.textarea_nosize{
	font-family: Verdana,Arial;
	font-size: 11px;
	color: #666666;
	padding-left: 2px;
	border: 1px solid #000000;
}
.button{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	width: auto;
	height: 18px;
	border: 1px solid #000000;
}
.bar{
	background-color: #005E00;
}
.inside{
	padding: 0px 6px 0px 6px;
}
.centeralign{
	text-align: center;
}
.heading{
	font-family: Times New Roman;
	font-size: 24px;
	line-height: 30px;
	color: #0F1E45;
}
.statelink a{
	display: block;
}
.footer{
	text-align: center;
	font-family: Arial;
	color: #FFFFFF;
	background-color: #002D00;
	height: 60px;
}
.underline{
	background-image: url(../images/underline.jpg);
	background-position: left top;
	background-repeat: repeat-x;
	height: 36px;
}
.randomlist_box{
	border: 0px;
	background-image: url(../images/box_rightbottom.jpg);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: #B7BEB5;
	height: 65px;
	padding: 6px;
}
.dTasks {
	BORDER-RIGHT: #5AB242 1px solid; BORDER-TOP: #5AB242 1px solid; BORDER-LEFT: #5AB242 2px solid; BORDER-BOTTOM: #5AB242 4px solid;
}
.border{
	border: #0F1E45 1px solid;
}
.ERR{
	FONT-FAMILY: Verdana;
	FONT-SIZE : 11px;
	COLOR: #8D4143;
	FONT-WEIGHT: bold;
}
.TDHEAD{
	font-family: Verdana, Times New Roman;
	font-size: 11px;
	text-align: left;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #003B78;
	height: 22px;
}
.TDHEAD td{
	color: #FFFFFF;
}
.tbllogin {
	font-size: 11px;
	color: #336699;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#dFunctionButton {
  clear: both;
  padding: 10px 0px 3px;
}

#dFunctionButton div {
  padding: 0em;
}

#dFunctionButton strong, #dFunctionButton a{
  font-family:Arial, Helvetica, sans-serif;
  padding: 2px 5px;
  margin: 0px 0.05em 0px 0.05em;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  -moz-border-radius: 2px;
  text-decoration:none;
  color:#000000;
}



#dFunctionButton a:hover {
  text-decoration: none;
  background: #E0EDDC;
   color:#FF0000;
}

#dFunctionButton strong {
  background: #0174bb;
  color: #fff;
}
.text_normal {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.text_normal_big {
	FONT-SIZE: 14px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.table_record TD {
	background:	#FFFFFF;
	margin:5px 0 5px 0;
}

.table_record_alt TD {
	background:	#F5F5F5;
	margin:5px 0 5px 0;
}
.text_Msg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: red;
}
.text_normal {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.legend {
	font-family:Arial, Helvetica, sans-serif;
	color:#000066;
	font-size:16px;
}
